<div class="cours-header d-flex align-items-center justify-content-center" style="background-image: linear-gradient(180deg, rgba(0,0,0,1) 10%, rgba(0,0,0,0.5) 50%), url('<%= image_path "image_cours2.jpg" %>');">
  <h1>FrameWork AARRR</h1>
</div>

<div class="container cours-page">
  <div class="row">
    <div class="col-sm-10 mx-auto">
      <div class="title-underline-purple">
        <h2>Cours</h2>
      </div>


      <div class="paragraphe-cours">
        <h3>1 - Le FrameWork de Dave McClure</h3>
        <div class="text-corps">
          <p>Monter un business est quelque chose d’ardu, il faut donc réduire la complexité du problème.
            Au-delà des méthodes de marketing classiques, Dave McClure le fondateur du fond d’investissement early stage 500 startups à développer le <span class="highlight-yellow">framework AARRR.</span></p>
        </div>
      </div>

      <div class="paragraphe-cours">
        <h3>2 - L’Acquisition</h3>
        <div class="text-corps">
          <p>Le fait d'<span class="highlight-yellow">acquérir des clients par divers canaux</span>, que ce soit des canaux internet ou des stratégies de commerce classique, flyers etc … mais nous, nous allons nous concentrer uniquement sur les canaux d’acquisitions Web.</p>
          <ul>
            <li>SEO</li>
            <li>SEM (Facebook, Adwords ...)</li>
            <li>Inbound marketing</li>
            <li>Email</li>
            <li>Biz Dev</li>
            <li>Presse</li>
            <li>Blog</li>
          </ul>
        </div>
      </div>

      <div class="paragraphe-cours">
        <h3>3 - L’Activation</h3>
        <div class="text-corps">
        <p>Le fait de <span class="highlight-yellow">transformer un visiteur en quelque chose</span>,
          mettre un produit au panier et commander, une installation, un email récupéré. </p>
        <p>Est-ce que vous avez obtenu quelquechose des gens que vous avez préalablement acquis ? </p>
        <ul>
          <li>Télécharger un fichier, un produit (SAAS, App)</li>
          <li>Envoyer un message (Whatsapp, Messenger, Slack)</li>
          <li>S'inscrire sur une liste, une newsletter (Blog)</li>
          <li>Mettre un produit au panier (E-commerce)</li>
          <li>Faire un devis (Assurances, Banque, Immobilier)</li>
          <li>Faire une recherche (Airbnb)</li>
        </ul>
        <p>Pour cela il faut avoir un site plutôt bien fait qui explique ce que vous faites</p>
        </div>
      </div>


      <div class="paragraphe-cours">
        <h3>4 - La Rétention</h3>
        <div class="text-corps">
        <p>C’est l’étape  la plus importante il faut <span class="highlight-yellow">garder les gens</span> que l’on a déjà
        dans le cas d'un business par abonnement ou faire en sorte dans le cas d'un E-commerce que les personnes reviennent acheter
        sur votre site sans passer par un canal d'acquisition. Il faut un repeat business pour créer de la valeur sur le long terme.</p>
        <ul>
          <li>Emails</li>
          <li>Blog</li>
          <li>Event et retargeting</li>
          <li>Ux</li>
        </ul>
        </div>
      </div>


      <div class="paragraphe-cours">
        <h3>5 - Le Revenu</h3>
        <div class="text-corps">
          <p>Vendre le produit, si vous êtes un business payant. Si vous n’arrivez pas encore à monétiser dans un premier temps votre business,
          si par exemple vous travaillez sur une app gratuite alors cela peut être le nombre de téléchargements, de connexions journalières etc …
          Il faut vraiment que vous arriviez au plus vite à monétiser votre business.</p>
          <ul>
            <li><span class="highlight-yellow">Avoir un bon Produit !</span></li>
            <li>Biz Dev</li>
            <li>Retargeting, Retargeting, Retargeting !</li>
          </ul>
        </div>
      </div>

      <div class="paragraphe-cours">
        <h3>6 - Le Référal</h3>
        <div class="text-corps">
        <p>Les gens parlent de vous. Si on a un produit gratuit cette étape vient avant le revenu.</p>
        </div>
      </div>

      <div class="paragraphe-cours">
        <h3>7 -  Les metrics à suivre</h3>
        <div class="text-corps">
          <p><span class="underline-purple bold">L’acquisition :</span> <span class="highlight-yellow">Nombre de visiteurs / Cout de l’acquisition = Coût d’un visiteur</span></p>
          <p><span class="underline-purple bold">L’activation :</span> Taux de conversion des visiteurs, par exemple <span class="highlight-yellow">pourcentage</span> de visiteurs laissant leur email ou pourcentage de visiteurs ajoutant un produit au panier</p>
          <p><span class="underline-purple bold">La Rétention :</span> Il faut <span class="highlight-yellow">suivre vos cohortes</span>,
          c'est à dire que : vous aller suivre les visiteurs faisant une action spécifique sur votre site en semaine
          1 (par exemple ils utilisent votre produit) et vous regardez s'ils l'utilisent toujours en semaine 2, semaine 3 etc ...</p>
          <img src="<%= image_path 'aarrr-1.jpg' %>" alt=""><br>
          <p>Avec les métriques de retention vous allez pouvoir calculer la LTV de vos clients. Le but est d'avoir
          <span class="highlight-yellow">LTV > CAC</span>.
          <br><br>
           <span class="highlight-yellow">LTV (années) = 1 / Churn (années) * Valeur d'un client (années)</span>
         </p>
          <p><span class="underline-purple bold">Le Revenu :</span> <span class="highlight-yellow">Le CA de la boîte</span>.
            si vous avez un <span class="highlight-yellow">business gratuit</span> il faut trouver ce qui est votre <span class="highlight-yellow">metric de valeur</span>. Par exemple chez Facebook leur métric c’était le nombre d’utilisateurs journaliers.
            Snapchat, nombre d’envois par jour et par personne, vous pourrez monétiser à un moment un envoi. Mais les boîtes gratuites peuvent faire débat sur leurs métrics.</p>
          <p><span class="underline-purple bold">Le Référal :</span> <span class="highlight-yellow">C’est le CA généré par canal de Référal</span>. traquer un bouton share etc …</p>
          <table class="table table-inverse">
            <thead>
              <tr>
                <th>Acquisition</th>
                <th>Activation</th>
                <th>Retention</th>
                <th>Revenue</th>
                <th>Referal</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Nombre de visiteurs  / Cout de l’acquisition</td>
                <td>Taux de conversion</td>
                <td>Suivi des cohortes</td>
                <td>Ca de la boîte</td>
                <td>Ca généré par un canal de Référal</td>
              </tr>
            </tbody>
          </table>
        </div>
        <img src="<%= image_path "aarrr-5.jpg" %>" alt="">
      </div>


      <div class="paragraphe-cours">
        <h3>8 - Méthodologie de travail avec le FrameWork AARRRR</h3>
        <div class="text-corps">
          <p><span class="underline-purple bold">1er étape la rétention :</span>
            <br><br>Toute entreprise travaille avant tout la Rétention. Si la Rétention n’est pas bonne alors on se concentre sur les datas.
            Si vous avez de la Rétention alors ça veut dire que vous avez un Product Market Fit (PMF). Vous pouvez avoir une boîte qui à un PMF
            mais une acquisition très difficile où c’est compliqué de convertir les gens, mais si vous avez un PMF alors vous aller garder
            les gens à vie et bâtir un vrai business.
            <br><br>
                La seule manière de construire une bonne Rétention est d’itérer au maximum sur votre produit et le plus vite possible.
            <br><br>
                <span class="highlight-yellow">Il faut dès le départ que vous ayez une Rétention très forte sur des petits chiffres</span>,
                car plus vous allez élargir votre produit et toucher les couches de consumers après les Early Adopters, à ce moment là les chiffres de rétention vont baisser. </p>

          <p><span class="underline-purple bold">2eme étape l’acquisition :</span> <br><br> <span class="highlight-yellow">On étudie toute les sources d’Acquisition, on regarde le nombre de personnes que ça nous ramène</span>
            et on divise par le coût que ça nous a couté. Exemple de CPC sur une campagne Adwords ou Facebook.
            <br><br>
                Attention toutefois, en fonction de la pub vous pouvez avoir des leads de plus ou moins bonne qualité.
                Il faut donc mettre cette étape en abîme avec l’activation.
            <br><br>
                Il faut aussi intégrer le coût temps dans vos campagnes d’acquisition. Et le temps que vous y passez.
            <br><br>
            Si vous trouvez un <span class="highlight-yellow">bon canal d’acquisition</span> qui marche de manière exceptionnelle, alors à ce moment là il faut
            <span class="highlight-yellow">l’utiliser jusqu’à épuisement</span>. Attention, il peut y avoir une liquidité dans l’acquisition,
            c’est-à-dire que le nombre de personnes à qui vous parlez via une pub s’épuisent, et donc les effets de traction importants que l’on a eus au début s’épuisent peu à peu.
            <br><br>
            <span class="highlight-yellow">Plus vous allez grossir plus le coût d’acquisition par personne va augmenter</span>, il
            faut vraiment que vous ayez les coûts d’acquisition les plus faibles possible le plus longtemps possible.
            Vous ne pouvez pas avoir la même acquisition que les sites matures, sinon le jour où votre boîte sera plus importante à
            ce moment là vos coûts d’acquisition seront plus importants.</p>

          <p><span class="underline-purple bold">3eme étape l’activation</span> <br><br>Optimiser l’activation, <span class="highlight-yellow">avoir une home page une landing page ou un site bien fait</span>.
            Il va falloir la travailler de manière quotidienne  et réaliser un maximum de test A/B
            <br><br>
             Par définition quand vous allez faire de l’activation vous allez définir une cible et cette cible il va falloir bien lui parler
             pour qu’elle s’active. Il va donc falloir dans l’idéal
             <span class="highlight-yellow">sortir une landing page par cible d’acquisition.</span></p>

          <p><span class="underline-purple bold">4eme étape le revenu</span>
            <br><br> La seule manière de mesurer les revenus est de <span class="highlight-yellow">mesurer les cash flow</span>.
            Au début d'une boîte cette métrique est pour moi trop en aval. il est préférable dans un premier temps de
            <span class="highlight-yellow">mesurer le ROI</span> du segment ciblé.</p>

          <p><span class="underline-purple bold">5eme étape le référal</span> <br><br>
            Trouver des astuces pour faire <span class="highlight-yellow">partager des gens</span>.
            Essayer au maximum de faire du care en amont pour faciliter le travail de cette étape</p>
          <img src="<%= image_path 'aarrr-2.jpg' %>" alt=""><br>
        </div>
      </div>

      <div class="paragraphe-cours">
        <h3>9 - Quantitative & Comparative Measurement</h3>
        <div class="text-corps">
          <p><span class="underline-purple bold">Quantitative :</span> On regarde de manière générale si les metrics évoluent ou non, on est dans
            l’<span class="highlight-yellow">optimisation</span>.</p>
          <p><span class="underline-purple bold">Comparative : </span> On fait des tests A/B on faisant des
            <span class="highlight-yellow">tests radicalement différents</span> pour voir ce qui marche ou non. Le but est de prendre
            l’orthogonale de ce que l’on fait déjà pour voir si cela peut booster la croissance.</p>
        </div>
      </div>


      <div class="paragraphe-cours">
        <h3>10 - Faire du Deep Diving </h3>
        <div class="text-corps">
          <p>C’est- à-dire que l’on va <span class="highlight-yellow">regarder le framework dans son intégralité par funnel</span>
            pour un segment de clientèle donné et pour une stratégie d’acquisition donnée. On pourra comme cela comparer
            l’ensemble des <soan class="highlight-yellow">ROI</soan> de manière efficace. <span class="highlight-yellow">ROI = Marge/Cout</span></p>
          <p><span class="bold">Méthodologie :</span></p>
          <ul>
            <li>Avoir une tableau avec le suivi de vos idées <br> <img src="<%= image_path "aarrr-4.jpg" %>" alt=""> <br> </li>
            <li>Un tableau avec le suivi des résultats quantifiables <br> <img src="<%= image_path "aarrr-6.jpg" %>" alt=""> <br> </li>
            <li>Pour la rétention je vous conseille de l'analyser à part pour éviter d'alourdir vos excels
            <li>Il peut-être utile de regarder comment on pilote les boites SAAS cela peut vous donner des idées pour travailler
              votre rétention : <a href="http://www.forentrepreneurs.com/saas-metrics/">Cours SAAS partie 1</a> / <a href="http://www.forentrepreneurs.com/saas-metrics-2/">Cours SAAS partie 2</a></li>
          </ul>
        </div>
      </div>


      <div class="paragraphe-cours">
        <h3>11 - Déroulé des cours </h3>
        <img src="<%= image_path "aarrr-7.jpg" %>" alt="">
        <div class="text-corps">
        </div>
      </div>

    </div>
  </div>
</div>

<div class="container cours-page">
  <div class="row">
    <div class="col-sm-10 mx-auto">
      <div class="title-underline-purple">
        <h2>TP</h2>
      </div>
      <div class="paragraphe-cours">
        <h3>1 - Cas d'étude</h3>
      </div>
      <div class="paragraphe-cours-inverse-purple">
        <h3>Mise en pratique</h3>
        <div class="text-corps-inverse">
          <p>Interpréter les métriques suivantes :</p>
          <img src="<%= image_path "aarrr-3.jpg" %>" alt="">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container cours-page">
  <div class="row">
    <div class="col-sm-10 mx-auto">
      <div class="title-underline-purple">
        <h2>Ressources</h2>
      </div>
      <div class="paragraphe-cours">
        <h3>1 - Présentation de Dave Mcclure</h3>
        <div class="text-corps">
         <iframe width="560" height="315" src="https://www.youtube.com/embed/irjgfW0BIrw" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
      <div class="paragraphe-cours">
        <h3>2 - SlideShare de Dave Mcclure</h3>
        <div class="text-corps">
        <p><a href="https://fr.slideshare.net/dmc500hats/startup-metrics-for-pirates-long-version">Les slides</a> de la présentation de Dave McClure</p>
        </div>
      </div>
      <div class="paragraphe-cours">
        <h3>3 - Présentation détaillée de The Family</h3>
        <div class="text-corps">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/s2EBIai6rvM" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>



      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
    </div>
  </div>
</div>
