<div class="cours-header d-flex align-items-center justify-content-center" style="background-image: linear-gradient(180deg, rgba(0,0,0,1) 10%, rgba(0,0,0,0.5) 50%), url('<%= image_path "image_cours5.png" %>');">
  <h1>Adwords & SEO</h1>
</div>


<div class="container cours-page">
  <div class="row">
    <div class="col-sm-10 mx-auto">
      <div class="title-underline-red">
        <h2>Cours</h2>
      </div>

      <div class="paragraphe-cours">
        <h3>1 - Référencement naturel et référencement payant </h3>
        <div class="text-corps">
          <p>Il y a une grande <span class="highlight-yellow">distinction</span> entre le <span class="highlight-yellow">référencement naturel</span> et le <span class="highlight-yellow">référencement payant</span>. On appelle de manière général le référencement naturel tout ce qui est relatif à la publicité sur les moteurs de recherches.
            <br>
            Le référencement naturel (SEO) quand à lui est plus un travail sur le long terme mais qui paye vraiment. Nous verrons dans la suite de ce cours comment faire du bon SEO.
            <br>
            De manière général il faut noté que les utilisateurs classiques ne font pas la différence entre les résultats de recherches naturels et payants.
            <br>
          <span class="highlight-yellow">Adwords c'est cher !</span> Mais peut être quand même utile pour une Start-up pour tester son idée. Si vous arrivez à trouver un modèle économique avec un ROI optimisé sur ce canal ça peut être vraiment très lucratif. </p>
        </div>
      </div>


      <div class="paragraphe-cours">
        <h3>2 - Pourquoi utiliser Adwords </h3>
        <div class="text-corps">
          <ul>
            <li>
              <p>Vous êtes sur d'avoir du trafic sur votre site (plus vous êtes haut dans les résultats de recherche plus vou savez de chance d'être cliqué)</p>
              <img src="<%= image_path 'adwords-1.jpg' %>" alt="">
            </li>
            <li>
              <p>C'est plus facile que de faire du SEO qui est un vrai travil en soi</p>
            </li>
            <li>
              <p>Vous avez la possibilité de mettre une page spécifique de votre site en avant</p>
            </li>
            <li>
              <p>Google peut optimiser votre ROI</p>
            </li>
          </ul>
        </div>
      </div>


      <div class="paragraphe-cours">
        <h3>3 - Comment ça marche ?</h3>
        <div class="text-corps">
        <p>Quand un utilisateur tape une requête avec des mots clefs Google lui soumet des annonces publicitaires. On va donc payer pour que l'on ai une annonce diffuser aupèrs des utilisateur qui tappent des mots clefs en accard avec notre activité.</p>
        <p>On paie simplement au CPC, <span class="highlight-yellow">on paie à Adwords directement le trafic qui vient sur notre site.</span></p>
        <p>Vous allez donc avoir des entreprises concurentes à la votre qui vont vouloir prendre des utilisateurs pour définir qui va être le plus haut dans les résultats de recherche Google à crée un système d'enchère</p>
        <p>Attention : Adwords est différents de FacebookAds, Adwords on cible des utilisateurs qui recherchent quelquechose, FacebookAds on push de la pub à une population ciblée</p>
        </div>
      </div>


      <div class="paragraphe-cours">
        <h3>4 - Est determiné la postion de la publicité</h3>
        <div class="text-corps">
          <p>C'est très simple : AdRank = Quality Score * Max CPC 😉</p>
          <img src="<%= image_path 'adwords-2.jpg' %>" alt="">
          <p>On ne connait pas vraiment comment le Quality Scores est défini, google garde ça secret mais on sait que les éléments suivants ont un impact sur celui-ci : </p>
          <ul>
            <li>Qualité des mots clefs choisis</li>
            <li>Qualité de la landing page / Page de destination de la pub</li>
            <li>Historique du CTR / CTR que l’on a sur l’ensemble des anciennes pub pour savoir si ce que l’on fait est de qualité ou non </li>
            <li>Evaluation de la pertinence entre les KeyWords et  la recherche de l’utilisateur</li>
          </ul>
          <p>Vous pouvez voir votre quality score dans l'interface Adwords</p>
          <p>Plus votre Quality score va être haut plus cela va affecter le CPC de votre pub :</p>
          <img src="<%= image_path 'adwords-3.jpg' %>" alt="">
        </div>
      </div>

      <div class="paragraphe-cours">
        <h3>5 - Comment Google calcule le CPC et fait le classement sur la page suite à une requête d'un utilisateur</h3>
        <div class="text-corps">
          <p>1 -Google détermine votre AdRank en fonction de votre Quality Score et de votre max CPC</p>
          <img src="<%= image_path 'adwords-4.jpg' %>" alt="" style="height:500px!important;">
          <p>2- Google détermine votre CPC réel à payer <span class="highlight-yellow">CPC Réel = Adrank du compétiteur avant vous / Votre Quality Score</span></p>
         <img src="<%= image_path 'adwords-5.jpg' %>" alt="" style="height:500px!important;">
         <p>On obtient le résultat suivant :</p>
         <img src="<%= image_path 'adwords-6.jpg' %>" alt="" style="height:320px!important;">
        </div>
      </div>


      <div class="paragraphe-cours">
        <h3>6 - Le comportement des utilisateurs</h3>
        <div class="text-corps">
          <p>Quand une personne recherche sur google  regarde :</p>
          <ul>
            <li>Recherche d’Informations sur le produit</li>
            <li>Comparaison de plusieurs produits </li>
            <li>Intention d’achat </li>
          </ul>
          <p>Il faut donc essayer de capter l'utilisateur lorsqu'il est au plus près de l'intention d'achat</p>
        </div>
      </div>

      <div class="paragraphe-cours">
        <h3>7 - A faire tous les jours</h3>
        <div class="text-corps">
        <ul>
          <li>Consulter les notifications et les alertes relatives au compte sur la page d’accueil</li>
          <li>Accéder à l’onglet campagne et regarder les performances sur une période </li>
          <li>Regarder les performances de vos mots clefs </li>
          <li>Examiner les performances de vos annonces </li>
          <li>Réviser vos mot clefs et vos annonces afin de les rendre plus pertinentes </li>
          <li>Tester de nouveau mots clefs et annonce de vos campagne / penser à faire des tests A/B </li>
        </ul>
        </div>
      </div>


      <div class="paragraphe-cours">
        <h3>8 - Organisation d'Adwords</h3>
        <div class="text-corps">
          <p>Adwords organisé de la manière ci dessous :</p>
          <img src="<%= image_path 'adwords-7.jpg' %>" alt="" style="height:400px!important;">
          <p><span class="bold">Campagne :</span> Chaque campagne doit porter sur une gamme de produit spécifique de votre secteur d’activité.</p>
          <p><span class="bold">Chaque groupe d’annonces :</span>Chaque groupe d’annonces doit être encore plus précis et concerner une sous catégorie. Par exemple on a un compte Jardinerie, une campagne sur les roses et un groupe d’annonce pour chaque type de roses.</p>
          <p>Essayer d’inclure entre 5 et 50 mot clefs par groupe d’annonce. Essayer d’être le plus précis possible pour être le plus efficace possible.</p>
          <p>Vous pouvez faire des test A/B sur vos annonces, en effet si vous mettes plusieurs annonces dans un groupe d’annonce Google va publier alternativement ces annonces sans frais supplémentaires vous allez comme cela voir les annonces qui marchent le mieux. </p>
          <p>Exemple de bonne annonce :</p>
          <img src="<%= image_path 'adwords-8.jpg' %>" alt="" style="height:450px!important;">
        </div>
      </div>


      <div class="paragraphe-cours">
        <h3>9 - Les stratégies d'enchères</h3>
        <div class="text-corps">
          <p><span class="bold">CPC</span> (cout par clic) : Optimisation de votre CPC par google. Le but de cette strétégie est d'optimiser le nombre d'utilisateurs sur votre site</p>
          <p><span class="bold">CPA</span> (cout par acquisition) : L'objectif de cette stratégie est de laisser Google piloter vos enchères avec pour objectif d'obtenir des conversions à un coût cible (d'où le terme "CPA cible") que vous déterminez en amont, et que vous pourrez changer par la suite. Plus votre CPA cible est élevée, plus vous pourrez avoir de conversions.</p>
          <p>Les avantages :</p>
          <ul>
            <li>Vous ne vous préoccupez plus des enchères, vous avez juste à trouver un équilibre entre volume et coût d'acquisition </li>
            <li>Vous pouvez mettre un prix au clic maximal, ce que je vous conseille vivement. </li>
            <li>S'adaptera aux évolutions du marché, si elles ne sont pas trop rapides</li>
          </ul>
          <p>Les inconvénients</p>
          <ul>
            <li>Si votre CPA est trop bas, vous n'aurez plus de volume </li>
            <li>Il faut un bon historique de conversion : au moins trente par mois selon Google, plutôt cinquante et plus selon ma pratique, surtout si vous avez de nombreux mots clés </li>
            <li>Méthode d'optimisation totalement opaque, vous ne saurez pas ce qui se passe au niveau du mot clé, pourquoi Google l'achète à ce prix</li>
            <li>Cette stratégie n'aime pas les changements massifs (ajout de mots clés, modifications substantielles des paramètres, saisonnalité marquée, nouveaux concurrents, etc.) </li>
            <li>Certaines conversions peuvent avoir un coût supérieur à votre CPA cible, c'est un objectif moyen, Google faisant ce qu'il peut pour rester dans cet objectif</li>
          </ul>
          <p>Pour ce type de stratégie il faut que vous soyez déjà dans une stratégie de ROI et que vous connaissez ou que vous avez une idée de votre coup par acquisition (Vous pouvez essayer de faire quelques campagne en CPC afin de déterminer un CPA approximatifs) </p>
          <p><span class="underline">Exemple :</span> Admettons vous avez un produit qui cout 100€ et vous faites 50% de marge dessus soit 50€ et admettons que vous pensez que une dépense en marketing peut s’élever à 30€ (soit CPA =  30€) alors vous avez 20€ de marge</p>
          <p><span class="bold">ROAS</span> : Google optimise le ROAS = (Chiffre d’affaire - Dépenses publicitaires) / Dépenses publicitaires</p>
          <p>Les avantages :</p>
          <ul>
            <li>Cette stratégie permet d’être plus finie que le CPA puisque l’on va jusqu’au bout du tunnel c’est à dire l’achat du produit.</li>
            <li>La stratégie la plus complète, qui va tenir compte de votre chiffre d'affaires </li>
            <li>Si vous avez des valeurs de conversion dynamique (c’est à dire qu’elles remontent le chiffre d’affaire généré en temps réel) et un taux de marge relativement constant sur vos produit, le ROAS est la meilleurs stratégie d’enchère.</li>
          </ul>
          <p>Les inconvénients : </p>
          <ul>
            <li>Complexe techniquement : il faut des conversions en nombre suffisant et une remontée du CA en temps réel </li>
            <li>ROAS élevé n'implique pas forcément une rentabilité positive </li>
          </ul>
        </div>
      </div>

      <div class="paragraphe-cours">
        <h3>10 - Mots Clefs</h3>
        <div class="text-corps">
        <p>Commencer par des requêtes large puis affiner par des requêtes avec mot clefs exacts</p>
        <p><span class="underline">Requête large (exemple) :</span>Nous associons par défaut le type de correspondance "requête large" à tous vos mots clés. Dans ce cas, les recherches contenant des fautes d'orthographe et des synonymes, les recherches associées et les autres variantes pertinentes sont susceptibles de déclencher la diffusion de l'annonce</p>
        <img src="<%= image_path 'adwords-9.jpg' %>" alt="" style="height:200px!important;">
        <p></p>
        </div>
      </div>




      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>



    </div>
  </div>
</div>
