<div class="cours-header d-flex align-items-center justify-content-center" style="background-image: linear-gradient(180deg, rgba(0,0,0,1) 10%, rgba(0,0,0,0.5) 50%), url('<%= image_path "image_cours5.png" %>');">
  <h1>Adwords & SEO</h1>
</div>


<div class="container cours-page">
  <div class="row">
    <div class="col-sm-10 mx-auto">
      <div class="title-underline-red">
        <h2>Cours Adwords</h2>
      </div>

      <div class="paragraphe-cours">
        <h3>1 - Référencement naturel et référencement payant </h3>
        <div class="text-corps">
          <p>Il y a une grande <span class="highlight-yellow">distinction</span> entre le
            <span class="highlight-yellow">référencement naturel</span> et le <span class="highlight-yellow">référencement payant</span>.
            On appelle de manière générale le référencement naturel tout ce qui est relatif à la publicité sur les moteurs de recherches.
            <br><br>
            Le référencement naturel (SEO) quand à lui, est plus un travail sur le long terme mais qui paye vraiment. Nous verrons dans la suite
            de ce cours comment faire du bon SEO.
            <br><br>
            De manière général il faut noter que les utilisateurs classiques ne font pas la différence entre les résultats
            de recherches naturels et payants.
            <br><br>
          <span class="highlight-yellow">Adwords c'est cher !</span> Mais il peut être utile pour une Start-up pour tester son idée.
        Si vous arrivez à trouver un modèle économique avec un ROI optimisé sur ce canal, cela peut être vraiment très lucratif. </p>
        </div>
      </div>


      <div class="paragraphe-cours">
        <h3>2 - Pourquoi utiliser Adwords </h3>
        <div class="text-corps">
          <ul>
            <li>
              <p><span class="highlight-yellow">Vous êtes sur d'avoir du trafic sur votre site</span> (plus vous êtes haut dans les résultats de recherche plus vous avez de chance d'être cliqué)</p>
              <img src="<%= image_path 'adwords-1.jpg' %>" alt="" style="width:50%;">
            </li>
            <li>
              <p>C'est plus facile que de faire du SEO (qui est un vrai travail en soi)</p>
            </li>
            <li>
              <p>Vous avez la possibilité de mettre une page spécifique de votre site en avant</p>
            </li>
            <li>
              <p><span class="highlight-yellow">Google peut optimiser votre ROI</span></p>
            </li>
          </ul>
        </div>
      </div>


      <div class="paragraphe-cours">
        <h3>3 - Comment ça marche ?</h3>
        <div class="text-corps">
        <p>Quand un utilisateur tape une requête avec des mots clefs Google, lui soumet des annonces publicitaires.
          On va donc payer pour que l'on ai une annonce diffusée auprès des utilisateurs qui tapent des mots clefs en accord avec notre activité.</p>
        <p>On paie simplement au CPC <span class="highlight-yellow">(on paie à Adwords directement le trafic qui vient sur notre site.</span></p>
        <p>Vous allez donc avoir des entreprises concurrentes à la vôtre qui vont vouloir prendre des utilisateurs. Pour définir qui va être le plus haut dans les résultats de recherches Google à créer un système d'enchères</p>
        <p><span class="bold">Attention :</span> <span class="highlight-yellow">Adwords est différent de Facebook Ads</span>. Avec Adwords on cible des utilisateurs qui recherchent quelquechose, avec FacebookAds on pousse de la pub à une population ciblée (Outbound Marketing)</p>
        </div>
      </div>


      <div class="paragraphe-cours">
        <h3>4 - Comment est determiné la position de la publicité</h3>
        <div class="text-corps">
          <p><span class="bold">C'est très simple</span>: <span class="highlight-yellow">AdRank = Quality Score * Max CPC</span> 😉</p>
          <img src="<%= image_path 'adwords-2.jpg' %>" alt="">
          <p>On ne connaît pas vraiment comment le Quality Scores est défini, Google garde cela secret mais on sait que les éléments suivants ont un impact sur celui-ci : </p>
          <ul>
            <li>Qualité des mots clefs choisis</li>
            <li>Qualité de la landing page / Page de destination de la pub</li>
            <li>Historique du CTR / CTR que l’on a sur l’ensemble des anciennes pub pour savoir si ce que l’on fait est de qualité ou non </li>
            <li>Evaluation de la pertinence entre les KeyWords et la recherche de l’utilisateur</li>
          </ul>
          <p>Vous pouvez voir votre <span class="highlight-yellow">Quality score</span> dans l'interface Adwords, c'est le "<span class="highlight-yellow">Niveau de qualité</span>"</p>
          <p>Plus votre Quality score va être haut plus cela va affecter le CPC de votre pub (car : <span class="highlight-yellow"> CPC réel = Adrank/Quality Score</span>):</p>
          <img src="<%= image_path 'adwords-3.jpg' %>" alt="" style="width:50%;">
        </div>
      </div>

      <div class="paragraphe-cours">
        <h3>5 - Comment Google calcule le CPC et fait le classement sur la page suite à une requête d'un utilisateur</h3>
        <div class="text-corps">
          <p>1 - Google détermine votre <span class="highlight-yellow">AdRank</span> en <span class="highlight-yellow">fonction</span> de votre <span class="highlight-yellow">Quality Score</span> et de votre <span class="highlight-yellow">max CPC</span></p>
          <img src="<%= image_path 'adwords-4.jpg' %>" alt="" style="width:50%;">
          <p>2 - Google détermine votre CPC réel à payer <span class="highlight-yellow">CPC Réel = Adrank du compétiteur avant vous / Votre Quality Score</span></p>
         <img src="<%= image_path 'adwords-5.jpg' %>" alt="" style="width:50%;">
         <p>On obtient le résultat suivant :</p>
         <img src="<%= image_path 'adwords-6.jpg' %>" alt="" style="width:50%;">
        </div>
      </div>


      <div class="paragraphe-cours">
        <h3>6 - Le comportement des utilisateurs</h3>
        <div class="text-corps">
          <p>Quand une personne recherche sur Google elle fait :</p>
          <ul>
            <li>Recherche d’Informations sur le produit</li>
            <li>Comparaison de plusieurs produits </li>
            <li>Intention d’achat </li>
          </ul>
          <p>Il faut donc essayer de <span class="highlight-yellow">capter l'utilisateur lorsqu'il est au plus près de l'intention d'achat</span></p>
        </div>
      </div>

      <div class="paragraphe-cours">
        <h3>7 - A faire tous les jours</h3>
        <div class="text-corps">
        <ul>
          <li>Consulter les notifications et les alertes relatives au compte sur la page d’accueil</li>
          <li>Accéder à l’onglet campagne et regarder les performances sur une période</li>
          <li>Regarder les performances de vos mots clefs</li>
          <li>Examiner les performances de vos annonces</li>
          <li>Réviser vos mots clefs et vos annonces afin de les rendre plus pertinentes</li>
          <li>Tester de nouveaux mots clefs et annonces de vos campagnes / penser à faire des tests A/B</li>
        </ul>
        </div>
      </div>


      <div class="paragraphe-cours">
        <h3>8 - Organisation d'Adwords</h3>
        <div class="text-corps">
          <p>Adwords organisé de la manière ci dessous :</p>
          <img src="<%= image_path 'adwords-7.jpg' %>" alt="" style="width:50%;">
          <p><span class="bold">Campagne :</span> Chaque campagne doit porter sur une gamme de produits spécifiques de votre secteur d’activité. A cette étape vous allez définir vos stratégies d'enchères et votre budget quotidien.</p>
          <p><span class="bold">Chaque groupe d’annonces :</span> Chaque groupe d’annonces doit être encore plus précis et concerner une sous catégorie. Par exemple on a un compte Jardinerie, une campagne sur les roses et un groupe d’annonce pour chaque type de roses.</p>
          <p>Essayez d’inclure entre 5 et 50 mots clefs par groupe d’annonces. Essayez d’être le plus précis possible pour être le plus efficace possible.</p>
          <p>Vous pouvez faire des test <span class="highlight-yellow">A/B sur vos annonces</span>, en effet si vous mettez <span class="highlight-yellow">plusieurs annonces dans un groupe d’annonces</span> Google va publier alternativement ces annonces sans frais supplémentaires vous allez comme cela voir les annonces qui marchent le mieux. </p>
          <p>Exemple de bonne annonces :</p>
          <img src="<%= image_path 'adwords-8.jpg' %>" alt="" style="width:75%;">
        </div>
      </div>


      <div class="paragraphe-cours">
        <h3>9 - Les stratégies d'enchères</h3>
        <div class="text-corps">
          <p><span class="bold">CPC</span> (coût par clic) : Optimisation de votre CPC par Google. Le but de cette stratégie est d'<span class="highlight-yellow">optimiser le nombre de visites sur votre site</span></p>
          <p><span class="bold">CPA</span> (coût par acquisition) : L'objectif de cette stratégie est de laisser Google piloter vos enchères avec pour
            objectif d'<span class="highlight-yellow">obtenir des conversions à un coût cible</span> (d'où le terme "CPA cible") que vous déterminez en
            amont, et que vous pourrez changer par la suite. Plus votre CPA cible est élevé, plus vous pourrez avoir de conversions.</p>
          <p>Les avantages :</p>
          <ul>
            <li>Vous ne vous préoccupez plus des enchères, vous avez juste à trouver un équilibre entre volume et coût d'acquisition </li>
            <li>Vous pouvez mettre un prix au clic maximal, ce que je vous conseille vivement.(Il peut y avoir de grosses divergences de prix avec Google)</li>
            <li>Cette stratégie s'adaptera aux évolutions du marché, si elles ne sont pas trop rapides</li>
          </ul>
          <p>Les inconvénients :</p>
          <ul>
            <li>Si votre CPA est trop bas, vous n'aurez plus de volume </li>
            <li>Il faut un bon historique de conversion : au moins trente par mois selon Google.</li>
            <li>Méthode d'optimisation totalement opaque, vous ne saurez pas ce qui se passe au niveau du mot clé, pourquoi Google l'achète à ce prix</li>
            <li>Cette stratégie n'aime pas les changements massifs (ajout de mots clés, modifications substantielles des paramètres, saisonnalité marquée, nouveaux concurrents, etc.) </li>
            <li>Certaines conversions peuvent avoir un coût supérieur à votre CPA cible, c'est un objectif moyen, Google faisant ce qu'il peut pour rester dans cet objectif</li>
          </ul>
          <p><span class="highlight-yellow">Pour ce type de stratégie il faut que vous soyez déjà dans une stratégie de ROI</span> et que vous connaissiez ou que vous ayez une idée de votre coup par acquisition (Vous pouvez essayer de faire quelques campagnes en CPC afin de déterminer un CPA approximatif) </p>
          <p><span class="underline">Exemple :</span> Admettons : vous avez un produit qui coute 100€, et vous faites 50% de marge dessus soit 50€ et admettons que vous pensez qu'une dépense en marketing peut s’élever à 30€ (soit CPA =  30€) alors vous avez 20€ de marge</p>
          <p><span class="bold">ROAS</span> : <span class="highlight-yellow">Google optimise le ROAS = (Chiffre d’affaires - Dépenses publicitaires) / Dépenses publicitaires</span></p>
          <p>Les avantages :</p>
          <ul>
            <li>Cette stratégie permet d’être plus fine que le CPA puisque l’on va jusqu’au bout du tunnel c’est-à-dire l’achat du produit.</li>
            <li>La stratégie la plus complète, qui va tenir compte de votre chiffre d'affaires </li>
            <li>Si vous avez des valeurs de conversion dynamique (c’est-à-dire qu’elles remontent le chiffre d’affaires généré en temps réel) et un taux de marge relativement constant sur vos produits, le ROAS est la meilleure stratégie d’enchère.</li>
          </ul>
          <p>Les inconvénients : </p>
          <ul>
            <li>Complexe techniquement : il faut des conversions en nombres suffisants et une remontée du CA en temps réel </li>
            <li>ROAS élevé n'implique pas forcément une rentabilité positive </li>
          </ul>
        </div>
      </div>

      <div class="paragraphe-cours">
        <h3>10 - Mots Clefs</h3>
        <div class="text-corps">
        <p><span class="highlight-yellow">Commencer par des requêtes larges</span> puis affiner par des requêtes avec des mots clefs exacts (selon Google)</p>

        <p><span class="underline bold">Mots clés en requête large :</span> Nous associons par défaut le type de correspondance "requête large" à tous vos mots clés. Dans ce cas, les recherches contenant des fautes d'orthographe et des synonymes, les recherches associées et les autres variantes pertinentes sont susceptibles de déclencher la diffusion de l'annonce</p>
        <img src="<%= image_path 'adwords-9.jpg' %>" alt="">

        <p><span class="underline bold">Expressions exactes :</span> Vos annonces peuvent s'afficher pour des recherches correspondant à une expression ou à une variante proche, avec des mots supplémentaires avant ou après. En revanche, elles ne seront pas diffusées si un mot est ajouté au milieu de l'expression ou si l'ordre des mots au sein de cette dernière est modifié. Pour ajouter une expression exacte, vous devez la placer entre guillemets (par exemple, "chapeaux femmes").</p>
        <img src="<%= image_path 'adwords-13.jpg' %>" alt="">

        <p><span class="underline bold">Mots clés exacts :</span> Vos annonces peuvent s'afficher pour des recherches correspondant exactement au mot clé ou à une variante proche. Dans ce cas, les variantes proches concernent également les expressions dont les mots ont été réorganisés si le sens est identique, et dans lesquelles des mots fonctionnels ont été ajoutés ou supprimés (prépositions, conjonctions, articles et autres mots n'ayant pas d'influence sur l'intention de recherche). Par exemple, le mot clé [chapeaux femmes], placé entre crochets, est susceptible de déclencher la diffusion de l'annonce associée lorsque l'utilisateur recherche "chapeaux pour femmes" sur Google.</p>
        <img src="<%= image_path 'adwords-14.jpg' %>" alt="">

        <p><span class="underline bold">Modificateurs de requête large : </span> Ce type de correspondance partage des similitudes avec le type "mots clés en requête large". Cependant, les annonces ne sont diffusées que si les recherches incluent les mots précédés d'un signe plus (+chapeaux femmes, par exemple) ou des variantes proches.</p>

        <p><span class="underline">En résumé</span></p>
        <img src="<%= image_path 'adwords-18.jpg' %>" alt="" style="width:75%;">

        <p><span class="underline bold">Mots clés à exclure :</span> Ce type de correspondance <span class="highlight-yellow">empêche la diffusion de vos annonces pour les recherches qui comprennent le terme en question</span>. Par exemple, si vous vendez des chapeaux, mais pas des chapeaux de randonnée, vous pourriez ajouter le mot clé à exclure -chapeaux de randonnée (mot clé précédé du signe moins).</p>
        <p>Mot clé en requête large à exclure : chaussures de sport</p>
        <img src="<%= image_path 'adwords-10.jpg' %>" alt="" style="width:50%;">
        <p>Expression exacte à exclure : chaussures de sport</p>
        <img src="<%= image_path 'adwords-11.jpg' %>" alt="" style="width:50%;">
        <p>Mots clé exact à exclure : [chaussures de sport]</p>
        <img src="<%= image_path 'adwords-12.jpg' %>" alt="" style="width:50%;">

        </div>
      </div>



      <div class="title-underline-red">
        <h2>Cours SEO</h2>
      </div>


      <div class="paragraphe-cours">
        <h3>1 - Comment ça marche ? </h3>
        <div class="text-corps">
          <p>Afin de réaliser un référencement juste Google utilise des Googlebots c’est-à-dire des robots Google qui inspectent les sites du monde entier afin de leur attribuer une note (<span class="highlight-yellow">PageRank</span>) qui va servir d’étalon de classement.</p>
          <p>Pour cela nous avons 3 phases :</p>
          <ul>
            <li><span class="underline">1er phase : </span>Exploration des sites internet par les Google bot (Crawl de vos pages par Google)</li>
            <li><span class="underline">2eme phase : </span>Les robots indexent votre site sur certains mots clefs </li>
            <li><span class="underline">3eme phase :</span> Etape de la recherche via l’utilisateur</li>
          </ul>
        </div>
      </div>


      <div class="paragraphe-cours">
        <h3>2 - Les principes de Google</h3>
        <div class="text-corps">
          <ul>
            <li>Satisfaire la demande de l’internaute</li>
            <li>Contenu le plus pertinent possible</li>
            <li>Réinterpréter une requête d’internaute mal formulée (faute d’orthographe)</li>
            <li>Ne pas présenter deux fois le même contenu à un internaute </li>
            <li>Ne pas afficher une information trop vieille </li>
          </ul>
        </div>
      </div>



      <div class="paragraphe-cours">
        <h3>3 - Stratégies de référencement </h3>
        <div class="text-corps">
          <p><span class="underline bold">Référencement interne :</span> Qu’est ce qui fait sur mon site que je suis pertinent pour les moteurs de recherche. Tout ce qui va concerner le travail sur notre site internet, par exemple mot clefs, architecture des pages etc …</p>
          <p><span class="underline bold"> Référencement externe :</span> Acquérir une bonne réputation pour Google avec le <span class="highlight-yellow">backlink</span></p>
        </div>
      </div>


      <div class="paragraphe-cours">
        <h3>4 - Le link juice</h3>
        <div class="text-corps">
        <p>Le terme imagé de jus de référencement permet de <span class="highlight-yellow">représenter le fait que le bénéfice apporté par un lien entrant dépend fortement de la nature de la page sur laquelle il se trouve</span> et le fait que ce bénéfice ou jus puisse être dilué si les liens présents sur cette page sont nombreux.</p>
        <img src="<%= image_path 'adwords-15.jpg' %>" alt="" style="width:50%;">
        </div>
      </div>

      <div class="paragraphe-cours">
        <h3>5 - Le référencement Interne (Methodologie)</h3>
        <div class="text-corps">


        <p><span class="underline bold">1 ere : étape : Trouver ses mots clefs : </span></p>
        <p><span class="highlight-yellow">Trouver les principaux mots clefs qui correspondent à notre activité</span>. Pour cela il faut :</p>
        <ul>
          <li>Analyser toutes nos offres que l’on développe</li>
          <li>Comprendre à qui l'on s’adresse et chercher toutes les combinaisons de mots clefs possibles (les tester tous sur le moteurs de recherche et chercher les mots clés connexes). Pensez à vous mettre en navigateur privé.</li>
          <li>Tester les mots clefs spécifiques sur <span class="underline bold">Adwords Keywords Planer</span> (accessible depuis votre interface Adwords) ou <a href="https://trends.google.fr/trends/">Google Trend</a></li>
        </ul>

        <p><span class="underline bold">2 eme : étape : Intégrer les mots clefs sur sa page de site internet : </span></p>
        <p>Intégrer les mots clefs sur chaque page ou sur la page associée est pertinent aux yeux de Google. <span class="highlight-yellow">Il faut avoir comme idée que chaque page correspond à une question</span>. Ne pas mettre trop de mots clefs sur une même page car cela peut nuire au référencement. Ne pas dépasser plus de 3% du texte. Insérer les mots clefs obligatoirement dans les balises de titres les <span class="highlight-yellow">meta description</span> ainsi que les balises <span class="highlight-yellow">alt</span> des <span class="highlight-yellow">images</span>.</p>
        <p>Vous pouvez utiliser des plugins comme <a href="https://fr.wordpress.org/plugins/wordpress-seo/">Yoast SEO</a> pour vous aider</p>

        <p><span class="underline bold">3eme : étape se signaler sur Google : </span></p>
        <ul>
          <li>Se référencer sur <a href="https://www.google.fr/intl/fr/business/">Google My Business</a></li>
          <li>Pousser son site sur <a href="https://www.google.fr/intl/fr/webmasters/#?modal_active=none">Google web master Tools</a> : permet d’envoyer le <a href="https://support.google.com/webmasters/answer/183668?hl=fr">Sitemap</a> à Google directement pour aller indexer le site (<a href="https://www.sitemaps.org/protocol.html">Protocole</a> de création de Sitemap)</li>
        </ul>


        <p><span class="underline bold">4eme : étape établir une stratégie de contenu (Blog valable aussi pour le site internet) :</span></p>
        <ul>
          <li><span class="underline">Créer des pages :</span><br>La meilleure stratégie est donc d’avoir le plus de pages possibles. Il faut absolument créer du contenu unique et utile sur notre marché. Chaque page doit faire au <span class="highlight-yellow">minimum 300 mots</span> sinon Google ne voit pas l’intérêt.
            <br>On peut externaliser la rédaction sur des plateformes comme <a href="https://www.fiverr.com/?&u_sou=google&u_med=cpc-brand&u_cam=G_FR-EN_Brand&u_ter=one-fiverr_%28exact%29&u_con=AdID%5e117043750388%5eKeyword%5efiverr%5ePlacement%5e%5eDevice%5ec&lpcat=br_general&caid=%7bcampaign_id%7d&agid=33518215868&ad_id=117043750388&kw=fiverr&gclid=Cj0KCQiA4bzSBRDOARIsAHJ1UO5_-xEM1bZ4qVKHPp66MjP_d_98p9F-lS_eTYL5nPuSaQb_WbT-vUgaAsdQEALw_wcB&gclsrc=aw.ds">Fiverr</a> ou <a href="https://www.malt.fr/?hop_campaign=brand&gclid=Cj0KCQiA4bzSBRDOARIsAHJ1UO6PppBeiJTpee16IS7QY8CNgiS4jVr8VgtcGqIbY9_n9i6ofb3JdPUaAjyrEALw_wcB">Malt</a>
          </li>
          <li><span class="underline">Organiser ses pages : </span> Organiser son contenu de manière logique, <span class="highlight-yellow">le lien entre les pages doit être pyramidal</span>.</li>
        </ul>
        </div>
      </div>


      <div class="paragraphe-cours">
        <h3>6 - Le référencement Externe (Methodologie)</h3>
        <div class="text-corps">
          <p>Le but du référencement externe est de gagner en autorité sur son marché. Comment faire cela ?
          Il faut savoir que le web est un maillage énorme de sites internet et donc
          <span class="highlight-yellow">Il faut collaborer avec les autres sites internet pour gagner en autorité</span>. Google prend en compte le nombre et la qualité des backlinks vers votre site internet et cela influe sur votre PageRank</p>

          <p><span class="underline bold">1) Les backlinks :</span> Les backlinks c'est ce qui va <span class="highlight-yellow">doper votre référencement</span> de manière significative.
            Google va regarder votre <span class="highlight-yellow">nombre de backlinks</span> ainsi que <span class="highlight-yellow">leur qualité</span>. Il n'attribuera pas la même importance à un backlink venant d'un site avec un PageRank de 10 ou de 2</p>
          <p>Vous pouvez connaître vos backs links avec des modules comme <a href="https://www.google.com/webmasters/#?modal_active=none">Google Web Master Tools</a>  ou <a href="https://fr.semrush.com/">SEMRush</a> qui vous donnera aussi l'état de la concurrence</p>


          <p><span class="underline bold">2) Comment faire du backlink :</span></p>
          <ul>
            <li>avec tous les partenariats et échange de liens</li>
            <li>Aller chercher les liens dormants sur les différentes pages Web pour recontacter les personnes qui parlent de nous </li>
            <li>Aller dans les témoignages clients  de sites payants et mettre un avis si on utilise le service avec un lien de redirection vers notre site</li>
            <li>Les bloggers et personnes influentes</li>
            <li>Intervenir sur tous les forums spécialisés</li>
            <li>Répondre aux questions posées sur le net qui ne sont pas sur les forums, exemple Yahoo Answers</li>
            <li>Attention : Eviter à tout prix les annuaires, c’est plus une perte de temps que des stratégies de black hat</li>
          </ul>
          <p><span class="highlight-yellow">Le meilleur back link au monde c’est </span>: une page avec un lien dans la première phrase, un ou plusieurs autres liens dans le contenu et les liens doivent être posés sur des expressions différentes)</p>
        </div>
      </div>


      <div class="paragraphe-cours">
        <h3>7 - Les bonnes pratiques</h3>
        <div class="text-corps">


        <p><span class="underline bold">Optimiser le Crawl</span></p>
        <ul>
          <li>Aucune page ne doit être orpheline</li>
          <li>Une mauvaise structuration entraine un mauvais PR</li>
          <li>3 clics depuis la home pour atteindre vos objectifs</li>
          <li>Créer un fichier site map avec un ordre de priorité des pages à Crawler.</li>
        </ul>


        <p><span class="underline bold">Faire la chasse au duplicate content</span></p>
        <p><span class="bold">Le duplicate interne :</span> c'est deux pages qui sont similaires sur deux d’url différentes. </p>
        <p><span class="bold">Le duplicate externe :</span> une page extérieure à votre site est similaire à une page de votre site</p>


        <p><span class="underline bold">Améliorer le taux de clics depuis les résultats des pages de recherches</span></p>
        <p>Ce sont les trois premiers qui récupèrent la plupart du trafic internet. Pour autant on peut tirer son épingle du jeu en utilisant des <a href="https://optimiz.me/rich-snippet/">Rich Snippets</a> c’est-à-dire : Donner plus de visibilité à votre page dans les pages de résultats en ajoutant dans votre code des données structurées. C’est le texte en vert qui s’affiche dans une recherche Google. On peut afficher le nombre d’avis etc … et ça augmente le taux de clics sur le site</p>


        <p><span class="underline bold">Augmenter les signaux sociaux </span></p>
        <p>Aucun intéret au niveau de SEO car les liens sont en nofollow par contre c'est une source de trafic supplémentaire</p>
        <xmp><a href="http://www.monsite.fr/" rel="nofollow">Eh Google, je n'assume pas ce lien !</a></xmp>

        <p><span class="underline bold">Améliorer le page rank interne </span></p>
        <ul>
          <li>Il ne faut pas d’erreur 404 et il faut que toutes les pages aient des liens entrants (au moins un) </li>
          <li>Il ne faut pas qu’une page soit à plus de 3 clics de l’index</li>
          <li>Il faut faire attention au positionnement des liens. Google arrive à définir si on a une Navbar, un Footer etc …. Plus les liens sont donc proches de l’intérieur du contenu plus ils seront efficaces. Plus les liens sont proches du footer moins ils seront efficaces</li>
        </ul>

        <p><span class="underline bold">Halte aux Erreur 404</span></p>
        <p>C’est le mal absolu / Perte de Backlink / Perte de Crawl</p>
        <p>Solution à <span class="highlight-yellow">rediriger en 301</span>. Petit <a href="http://www.eskimoz.fr/comment-reussir-sa-redirection-301/">lien utile pour les 301</a></p>

        <p><span class="underline bold">Améliorer la vitesse d’affichage de vos pages </span></p>
        <p>Amazon perd 1% de chiffre d’affaires pour chaque seconde de chargement en trop. Il faut donc baisser le taux de rebond, et on doit rester dans les temps moyens du secteur</p>
        <p>Pour mesurer ça rendez vous sur <a href="https://developers.google.com/speed/pagespeed/">Google page Speed</a></p>

        <p><span class="underline bold"> La compatibilité mobile</span></p>
        <p>Travailler donc la responsivité et l’ergonomie.</p>

        </div>
      </div>


      <div class="title-underline-red">
        <h2>TP</h2>
      </div>


      <div class="paragraphe-cours">
        <h3>1 - Bien référencer votre Home Page</h3>
        <div class="text-corps">
        </div>
      </div>
      <div class="paragraphe-cours-inverse-red">
        <h3>Mise en pratique</h3>
        <div class="text-corps-inverse">
          <img src="<%= image_path 'adwords-16.jpg' %>" alt="" style="width:50%;">
          <p>1 - La balise Title doit contenir le mot clef le plus important</p>
          <p>2 - Ajouter une meta description avec votre mot clef principal et qui doit contenir au moins 120 carractères</p>
          <p>Cela se traduit de la manière suivante sur les moteurs de recherches :</p>
          <img src="<%= image_path 'adwords-17.jpg' %>" alt="" style="width:50%;">
          <p>3 - Travailler vos URL</p>
          <p><span class="bold">Longueur – </span>Les adresses URL plus courtes ont tendance à mieux performer dans les résultats de recherches et ont également plus de chance d’être copiées/collées, partagées et plus susceptibles de recevoir un lien de la part de d’autres sites web.</p>
          <p><span class="bold">Localisation des mots clés – </span> Plus prêt vos mots clés se situeront de votre nom de domaine, mieux ce sera. En effet, « site.com/motclé » performera mieux que « site.com/dossier/sousdossier/motclé » et est définitivement plus recommandé pour le référencement d’une page web (bien qu’il ne s’agit pas d’un facteur très influent dans la performance SEO).</p>
          <p>4 - Travailler le body</p>
          <p><span class="bold">Nombre de répétitions des mots clés – </span> entre 3 à 6 fois pour un texte de 300 mots</p>
          <p><span class="bold">Utilisation de variances du mot clé – </span>Longtemps suspectée d’influencer les résultats dans les moteurs de recherche (bien que cette technique n’a jamais étudié dans les moindres détails pour convaincre plusieurs spécialistes SEO), la théorie que la variance de mots clés dans vos contenus peut aider pour le référencement vaut la peine de s’y attarder un peu. On recommande d’utiliser au minimum une ou deux variations des termes ainsi que de séparer les mots de vos phrases ciblées</p>
          <p><span class="bold">L’attribut Alt d’une image – </span> pensez à bien remplir l'attribut Alt de vos images</p>
          <p><span class="bold">Nom du fichier de votre image – </span> pensez à mettre un nom de qualité pour être retrouvé dans Google Images</p>
          <p>5 - Architecture du site</p>
          <p><span class="bold">Profondeur de clics – </span> plus votre page est importante plus elle doit être haute dans l'architecture du site</p>
          <p><span class="bold">Localisation de mots clés – </span> Il est recommandé que vos mots clés importants apparaissent dans les premiers mots (50 – 100, de préférence même avant ça) du contenu texte de votre page. Les moteurs de recherche semblent en effet accorder plus d’importance aux pages utilisant les mots clés au début de celles-ci.</p>
        </div>
      </div>


      <div class="paragraphe-cours">
        <h3>2 - Créer une annonce Adwords</h3>
        <div class="text-corps">
        </div>
      </div>
      <div class="paragraphe-cours-inverse-red">
        <h3>Mise en pratique</h3>
        <div class="text-corps-inverse">
          <p>1 - Créer votre compte Adwords</p>
          <p>2 - Importer vos Objectifs depuis GA</p>
          <p>3 - Créer votre première campagne</p>
        </div>
      </div>



      <div class="paragraphe-cours">
        <h3>3 - Faire un Test A/B en relation avec votre pub Adwords</h3>
        <div class="text-corps">
        </div>
      </div>
      <div class="paragraphe-cours-inverse-red">
        <h3>Mise en pratique</h3>
        <div class="text-corps-inverse">
          <p>1 - Faire le lien entre Adwords et Obtimizely</p>
          <p>Aller dans Optimizely -> Settings -> Activer la connexion avec Adwords</p>
          <p>2 - Créer une audience Adwords relative à la pub Adwords dans Optimizely</p>
          <p>3 - Faire une variation dans Optimizely</p>
        </div>
      </div>



      <div class="title-underline-red">
        <h2>Ressources</h2>
      </div>


      <div class="paragraphe-cours">
        <div class="text-corps">
          <h3>1 - Cours OpenClassRoom</h3>
          <p><span class="bold">Cours en ligne </span> : Je vous conseil <a href="https://openclassrooms.com/courses/ameliorez-la-visibilite-de-votre-site-grace-au-referencement"> le cours de OpenClassRoom sur le référencement naturel</a></p>
          <p><span class="bold">Cours papier </span> :</p>
          <a href="https://www.amazon.fr/Am%C3%A9liorez-visibilit%C3%A9-votre-gr%C3%A2ce-r%C3%A9f%C3%A9rencement/dp/B00BWOCBDM/ref=sr_1_1?ie=UTF8&qid=1515144241&sr=8-1&keywords=site+du+zero+referencement"><img src="<%= image_path 'adwords-19.jpg' %>" alt="" style="width:25%;"></a>
        </div>
      </div>




      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>



    </div>
  </div>
</div>
