<div class="cours-header d-flex align-items-center justify-content-center" style="background-image: linear-gradient(180deg, rgba(0,0,0,1) 10%, rgba(0,0,0,0.5) 50%), url('<%= image_path "image_cours5.png" %>');">
  <h1>Facebook Ads</h1>
</div>



<div class="container cours-page">
  <div class="row">
    <div class="col-sm-10 mx-auto">
      <div class="title-underline-red">
        <h2>Cours</h2>
      </div>


      <div class="paragraphe-cours">
        <h3>1 - Comment marche Facebook Ads </h3>
        <div class="text-corps">
        <p>Real time bidding sur Facebook  : Enchère pour pouvoir prendre la timeline d’un utilisateur, ça dépend de la personne, ça dépend du nombre de gens on se bat tous pour afficher une pub sur une timeline d’un utilisateur.</p>
        <a href="https://www.facebook.com/business/help/430291176997542">Toutes les infos ici</a>
        </div>
      </div>


      <div class="paragraphe-cours">
        <h3>2 - Toucher des personnes que l’on connait  </h3>
        <div class="text-corps">
          <p>Facebook ne diffuse pas tous les updates à tous nos fans. Facebook fait le tri des post que l’on voit, il trie par les goûts et par la viralité du post. Si on fait un post Facebook va l’afficher à 100 - 200 personnes regarde si il a de la vitalité puis diffuse à 1000 si le post devient virale etc … Donc plus on fait du contenu de qualité plus celui sera diffusé.</p>
          <p>On peut donc promouvoir, en bossant des posts, dans le cas on a une communauté active on peut passer là dessus.  On choisi un budget et un durée de diffusion. Vous pouvez calibrer le ciblage.</p>
        </div>
      </div>


      <div class="paragraphe-cours">
        <h3>3 - Toucher des personnes que l’on ne connait pas</h3>
        <div class="text-corps">
          <p>On utilise l'interface de Facebook dédiée à la publicité ou un module annexe comme <a href="https://adespresso.com/">Adespresso</a> (très utile pour aller vite et faire des tests AB)</p>
          <p><span class="bold underline">Les avantages</span></p>
          <ul>
            <li>
              <p>Tester rapidement vos idées</p>
            </li>
            <li>
              <p>Faire de targeting démographique complexe </p>
            </li>
            <li>
              <p>Il est gratuit</p>
            </li>
          </ul>
        </div>
      </div>

      <div class="paragraphe-cours">
        <h3>4 - Comment se structure une publicité Facebook </h3>
        <div class="text-corps">
          <ul>
            <li>
              <p>0 - Avant toute chose vous devez avoir une page Facebook</p>
            </li>
            <li>
              <p>1 - Vous commencez par une campagne où vous aller définir un objectif, comme ramener des personnes sur votre site internet. </p>
            </li>
            <li>
              <p>2 - Définir une audience : on définit une ou plusieurs audiences en fonction des critères que l’on souhaite</p>
            </li>
            <li>
              <p>3 - Ensuite on design nos pubs avec les visuels etc … </p>
            </li>
          </ul>
          <img src="<%= image_path 'facebook-1.jpg' %>" alt="" style="height:300px;">
          <p><span class="bold">Exemple de designs reussis : </span></p>
          <ul>
            <li>
              <p><a href="https://iletaitunepub.fr/2016/04/airbnb-devoile-nouvelle-campagne-de-publicite-livethere/">Airbnb Facebooks Ads</a></p>
              <img src="<%= image_path 'facebook-2.jpg' %>" alt="" style="height:500px;">
            </li>
            <li>
              <p><a href="http://www.pubenstock.com/2013/oasis-france-regions-affichage-humour/">Oasis</a></p>
              <img src="<%= image_path 'facebook-3.jpg' %>" alt="" style="height:500px;">
            </li>
            <li>
              <p>Le Slip Français</p>
              <img src="<%= image_path 'facebook-4.jpg' %>" alt="" style="height:500px;">
            </li>
          </ul>
        </div>
      </div>

      <div class="paragraphe-cours">
        <h3>5 - Configuration de l'objectif </h3>
        <div class="text-corps">
        <p>Sur Facebook il existe trois grandes familles d'objectifs : Sensibilisation, Considération et Conversions</p>

        <p><span class="bold">Sensibilisation</span> :
        <ul>
          <li>
            <p>Notoriété de la marque : diffuse votre publicité aux personnes qui peuvent le plus s'en souvenir</p>
          </li>
          <li>
            <p>Portée : diffuse la publicité au maximum de personne de l'audience</p>
          </li>
        </ul>
        </p>

        <p><span class="bold">Considération</span> :
        <ul>
          <li>
            <p><span class="bold">Trafic</span> : Augmentez le nombre de visites sur votre site web ou incitez plus de personnes à utiliser votre application </p>
          </li>
          <li>
            <p><span class="bold">Interaction</span> : Incitez plus de personnes à voir votre publication ou votre Page et à interagir avec. Avec l’objectif Engagement</p>
          </li>
          <li>
            <p><span class="bold">Installation d'apps</span> : Orientez les personnes vers une page où elles peuvent télécharger votre application. Si vous voulez mesurer le nombre d’installations, vous devez intégrer le <a href="https://developers.facebook.com/docs/app-ads/sdk">SDK de Facebook</a> à votre application. </p>
          </li>
          <li>
            <p><span class="bold">Vues de vidéos</span> : Mettez en avant des vidéos qui montrent les coulisses, des lancements de produits ou des témoignages de clients afin de mieux faire connaître votre marque. </p>
          </li>
          <li>
            <p><span class="bold">Génération des prospects</span> : Rassemblez des informations sur les personnes intéressées par votre entreprise, par exemple des adresses e-mail. </p>
          </li>
          <li>
            <p><span class="bold">Messages</span> : Faites en sorte que plus de personnes discutent avec votre entreprise pour générer des prospects, stimuler les transactions, répondre aux questions ou proposer une assistance.</p>
          </li>
        </ul>
        </p>

        <p><span class="bold">Conversions</span> :
          <ul>
            <li>
              <p><span class="bold">Conversion</span> : Incitez plus de personnes à utiliser votre site web, votre application Facebook ou votre application mobile. Pour suivre et mesurer les conversions, utilisez le pixel Facebook ou les évènements d’app.</p>
            </li>
            <li>
              <p><span class="bold">Ventes catalogue</span> : Affiche les produits de votre catalogue en fonction de votre audience cible. Il est nécéssaire de <a href="https://www.facebook.com/products/?nav_source=ads_manager">créer un catalogue de produits</a></p>
            </li>
            <li>
              <p><span class="bold">Visites en point de vente</span> : Faites la promotion de vos points de vente auprès des personnes qui se trouvent à proximité.</p>
            </li>
          </ul>
        </p>
        </div>
      </div>


      <div class="paragraphe-cours">
        <h3>6 - Configuration de l'ensemble des publicité</h3>
        <div class="text-corps">
          <p><span class="bold underline-red">1 - L'audience</span></p>
          <p>En fonction du client type que vous avez identifié pour votre produit vous allez créer votre audience.</p>
          <ul>
            <li><p><span class="bold">Cibler avec les données démographiques : </span> age, sexe, emploi, foyer etc ...</p></li>
            <li><p><span class="bold">Cibler les goûts : </span> cibler les personens qui aiment telles ou telles pages</p></li>
            <li><p><span class="bold">Cibler le comportement : </span> très utile pour des apps pour un comportement social ponctuel - ex voyage</p></li>
            <li><p><span class="bold">Taille de l'audience :</span> moins de 10 000 c’est nul, à plus de 1 millions c’est pas homogène mais vérifier avec le CPC </p></li>
          </ul>

          <p><span class="bold underline-red">2 - Le placement</span></p>

        </div>
      </div>



      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>



    </div>
  </div>
</div>
