

<div class="cours-header d-flex align-items-center justify-content-center" style="background-image: linear-gradient(180deg, rgba(0,0,0,1) 10%, rgba(0,0,0,0.5) 50%), url('<%= image_path "image_cours4.jpg" %>');">
  <h1>Prototyping I</h1>
</div>


<div class="container cours-page">
  <div class="row">
    <div class="col-sm-10 mx-auto">
      <div class="title-underline">
        <h2>Cours</h2>
      </div>

      <div class="paragraphe-cours">
        <h3>1 - Le role de la landing page</h3>
        <div class="text-corps">
          <p>Le rôle de landing page est de convaincre une cible de faire une action sur notre site pour <span class="highlight-yellow">valider une hypothèse</span>.
            Par exemple, on peut valider une value proposition, une feature, un produit ou encore un pricing.
            <br><br>
            Il faut que votre cible comprenne ce que vous faites en <span class="highlight-yellow">moins de 5 secondes</span>
            <br><br>
            Dans l'idéal pour <span class="highlight-yellow">chaque pub</span> que vous lancez sur le Web vous y associez
            <span class="highlight-yellow">une landing page</span> spécifique.
          Plus la landing page sera adpatée à vore cible plus vous allez diminuer votre CPC</p>
        </div>
      </div>


      <div class="paragraphe-cours">
        <h3>2 - Home Page Vs Landing Page</h3>
        <div class="text-corps">

          <p><span class="underline-green bold">Landing Page : </span> sert à tester une hypothèse sur une <span class="highlight-yellow">cible bien précise qui ne vous connait pas à priori</span>.
            La landing page doit être le prolongement du moyen d'acqusition qui va toucher votre cible (Pub internet, post, mailing etc ... ). L'idée de cette page est de convaincre, vous aurez
          un meilleur engagement que sur une Home page.</p>

          <p><span class="underline-green bold">Home Page :</span>  c'est <span class="highlight-yellow">la porte d'entrée vers votre site</span>. Les gens connaissent à priori votre produit mais peuvent provenir d'audiences différentes.
            Le discours doit être le plus clair et le plus simple possible mais vous devez garder à l'esprit que vous touchez une audience plus large que dans le cas d'une campagne avec une landing page.
          Mais l'ensemble des mécanismes d'activation valables pour les landing pages sont applicables aux home pages</p>
        </div>
      </div>

      <div class="paragraphe-cours">
        <h3>3 - Adpater son discours</h3>
        <div class="text-corps">
          <p>Il faut faire <span class="highlight-yellow">une landing page par audience</span> et adapter son discours en fonction de la cible à laquelle on parle. <br><br>
            Par exemple sur <a href="https://www.prestashop.com/fr">Prestashop</a> : on a un discours pour <a href="https://www.prestashop.com/fr/marchands">les marchands</a> / <a href="https://www.prestashop.com/fr/developpeurs">les developpeurs</a>
            et les <a href="https://www.prestashop.com/fr/agences">agences</a>. C'est pour cela qu'il est important au préalable de <span class="highlight-yellow">segmenter votre cible</span>.
          Si par exemple vous faite une publicité la landing page doit être le prolongement de celle-ci.</p>
          <p><span class="bold">Exemple Prestashop :</span></p>
          <img src="<%= image_path "prototyping-1-2.jpg" %>" alt="" style="width:100%; height:20%;">
          <p><span class="bold">Heetch :</span></p>
          <img src="<%= image_path "prototyping-1-3.jpg" %>" alt="" style="width:100%; height:20%;">
          <p><span class="bold">Les furets :</span></p>
          <img src="<%= image_path "prototyping-1-11.jpg" %>" alt="" style="width:100%; height:20%;">
        </div>
      </div>

      <div class="paragraphe-cours">
        <h3>4 - Sort Form VS Long form</h3>
        <div class="text-corps">
          <p>Vous pouvez faire des landing plus ou moins longues, mais il y a en gros deux stratégies :</p>
          <p><span class="underline-green bold">Landing page short form :</span> vous écrivez juste le bénéfice de votre produit et la personne doit
          s'inscrire pour en savoir plus ou tester le produit. L'idée "tu t'inscris ou tu dégages"</p>
          <p><span class="underline-green bold">Long form :</span> plus descriptive que la short form, vous donnez des détails sur votre produit ou service, avant que la personne ne s'inscrive</p>
          <p>Globalement avec une <span class="highlight-yellow">short form </span>vos taux de conversion explosent mais vous avez des <span class="highlight-yellow">prospects de moins bonne qualité</span>.
          Vous allez donc avoir à travailler plus les prospects pour obtenir d'eux ce que vous souhaitez.</p>
        </div>
        <img src="<%= image_path "prototyping-1-4.jpg" %>" alt="" style="width:50%; height:10%;">
        <p><span class="bold">Paradoxe :</span> plus une page est longue moins elle a de chance d'être lue, plus une page est longue plus elle convertie</p>
      </div>


      <div class="paragraphe-cours">
        <h3>5 - Les éléments d'une landing page</h3>
        <div class="text-corps">
          <p><span class="underline-green bold">La value proposition :</span> c'est la phrase d'accroche sur votre landing page, le but du jeu est d'<span class="highlight-yellow">expliquer en une phrase
          à quoi sert votre produit, quel bénéfice immédiat en tirer</span>
          (gagner du temps ou de l'argent en général), pourquoi vous êtes le meilleur.
        Commencez toujours à vous poser la question : pouquoi vous faites ce produit ?</p>
        <img src="<%= image_path "prototyping-1-why.png" %>" alt="" style="width:50%; height:10%;">
        <p><span class="bold">SantéVet : </span>gagnez de l'argent</p>
        <img src="<%= image_path "prototyping-1-5.jpg" %>" alt="" style="width:70%; height:10%;">
        <p><span class="underline-green bold">Call to action :</span> un seul call to action sur la page et bien visible, en principe "acheter" ou "s'inscrire"</p>
        <img src="<%= image_path "prototyping-1-6.jpg" %>" alt="" style="width:100%; height:10%;">
        <p><span class="underline-green bold">Un formulaire :</span> trouver la bonne taille de formulaire, pas trop grand pour éviter les fort taux de rebond</p>
        <p>Formulaire de <a href="https://society6.com/register?tab=artist">Society 6</a></p>
        <img src="<%= image_path "prototyping-1-9.jpg" %>" alt="" style="width:50%; height:10%;">
        <p><span class="underline-green bold">Se concentrer sur le vrai objectif de conversion :</span> minimiser les liens et essayer de mettre le call to action le plus en avant</p>
        <img src="<%= image_path "prototyping-1-10.jpg" %>" alt="" style="width:50%; height:10%;">
        <p><span class="underline-green bold">Minimiser les liens :</span> minimiser les liens et essayer de mettre le call to action le plus en avant</p>
        <p><span class="underline-green bold">Image dans le header :</span> mettre dans le header une image ou un fond uniforme. Attention à avoir les textes de la value proposition lisible. Les belles images convertissent !</p>
        <p><span class="underline-green bold">Indicateurs de confiance :</span> n'hésitez pas à mettre les avis clients, presse, satisfait remboursé etc ... Vous pouvez remontez vos avis facebook ou utilisez des plugins comme <a href="http://ekomi-fr.feedback-company.com/?gclid=CjwKCAiA1uHSBRBUEiwAkBCtzUDUDNRxfFw5fQ8KGD-xl_pIzB6sRcztCE1KZRZ7wYVva87omBWOnRoChYUQAvD_BwE">ekomi</a></p>
        <img src="<%= image_path "prototyping-1-7.jpg" %>" alt="" style="width:100%; height:10%;">
        <p><span class="underline-green bold">Demo de votre produit :</span> utile si vous avez une boite SAAS</p>
        <img src="<%= image_path "prototyping-1-8.jpg" %>" alt="" style="width:100%; height:10%;">
        <p>Vous pouvez aussi expliquer le fonctionnement de votre produit avec des modules comme <a href="http://bootstraptour.com/">Bootstrap Tour</a></p>
        <p><span class="underline-green bold">Exemple de bonne landing page :</span></p>
        <img src=" <%= image_path "prototyping-1.jpg" %>" alt="">
      </div>
    </div>

    <div class="paragraphe-cours">
      <h3>6 - Design de la landing page - best practices</h3>
      <div class="text-corps">
        <p>1 - Utiliser du <span class="highlight-yellow">contraste</span> pour faire ressortir les informations importantes et mettre des call to actions bien visibles.
          <br><br>2 - Ne pas hésiter à faire des <span class="highlight-yellow">call to actions gros, visibles, simples</span>, il faut que ce soit une évidence de cliquer dessus.
          <br><br>3 - <span class="highlight-yellow">Eviter les scrolls</span> pour aller au call to action
          <br><br>4 - Laisser de l'espace et du blanc pour <span class="highlight-yellow">aérer les textes</span>.
          <br><br>5 - Faire un <span class="highlight-yellow">formulaire court</span> pour éviter les forts taux de rebonds.
          <br><br>6 - Utiliser Pinterest pour faire des <span class="highlight-yellow">moodboards</span> et definir l'ambiance de votre landing.
          <br><br>7 - faire du satisfait ou remboursé si vous pouvez.
          <br><br>8 - Si vous n'êtes pas un bon designer ou que vous avez un doute <span class="highlight-yellow">copier !</span> </p>
        </div>
      </div>


      <div class="paragraphe-cours">
        <h3>7 - Feedback</h3>
        <div class="text-corps">
          <p>Essayez de recontacter le maximum d'utilisateurs qui laissent leurs coordonnées sur votre site. Le but est d'avoir un <span class="highlight-yellow">maximum de feedbacks sur votre produit</span> pour l'améliorer.
            Si vous avez un produit payant essayer de savoir pourquoi les personnes n'ont pas acheté votre produit. Après l'insciption proposer un Skype par exemple.
            Vous pouvez (devez !) aussi <span class="highlight-yellow">mettre votre numéro de téléphone sur votre site !</span>(8% des commandes sur internet sont abandonnées car dans le cas ou aucun numéro de téléphone n'est renseigné sur le site)</p>
          </div>
        </div>

        <div class="paragraphe-cours">
          <h3>8 - Faites de la Nécromancie</h3>
          <div class="text-corps">
            <p>Pensez à <span class="highlight-yellow">réanimer vos listes de prospects en fonction de l'évolution de votre produit</span>.
            Des gens qui ne pouvaient pas être intéréssés avant peuvent l'être maintenant.</p>
            <img src=" <%= image_path "prototyping-1-12.jpg" %>" alt="" style="width:70%; height:auto;">
          </div>
        </div>

        <div class="paragraphe-cours">
          <h3>9 - Fake It until You Make It</h3>
          <div class="text-corps">
            <p>Il faut bien avoir en tête que maintenant nous partons pour créer une landing page un site etc … pour vous permettre de tester, vos idées votre value proposition etc …
              Il ne faut donc pas hésiter à <span class="highlight-yellow">faker votre produit</span>. Cela vous permet de <span class="highlight-yellow">réduire vos coûts de développement</span> et de vous tromper.
              <br><br>
              <span class="bold">Le MVP :</span> Attention, vous pouvez <span class="highlight-yellow" >délivrer un produit incomplet mais fini</span>, mais pas un produit incomplet et pas fini.</p>
            </div>
          </div>


          <div class="paragraphe-cours">
            <h3>10 - Growth Hacking</h3>
            <div class="text-corps">
              <p><span class="bold underline-green">Growth Hacking vs UX :</span></p>
              <p><span class="highlight-yellow">Le Growth Hacking c'est bien pour bâtir de la traction</span> (Acquisition, activation retention etc ...), l'<span class="highlight-yellow">UX</span> c'est pour faire en sorte que <span class="highlight-yellow">les utilisateurs restent</span> sur votre produit. Le Growth Hacking vient donc avant l'UX</p>
              <p><span class="bold underline-green">Growth Hacking Methodologie :</span></p>
              <p><span class="highlight-yellow">Expérimenter</span> à la main <span class="highlight-yellow">avant d'automatiser</span></p>
              <p><span class="bold underline-green">Le Scraping :</span></p>
              <p>C'est le fait de récolter des données sur internet souvent des adresses emails. Il existe des modules qui vous permettent d'automatiser les processus de scraping comme <a href="https://chrome.google.com/webstore/detail/imacros-for-chrome/cplklnmnlbnpmjogncfgfijoopmnlemp">iMacros</a> ou <a href="https://chrome.google.com/webstore/detail/web-scraper/jnhgnonknehpejjnehehllkliplmbmhn">Web Scraper</a></p>
              <p>Pour les développeurs vous avez une librairie Js disponible sur GitHub  <a href="https://github.com/segmentio/nightmare">Nightmare</a></p>
            </div>
          </div>

          <div class="paragraphe-cours">
            <h3>11 - Le mailing</h3>
            <div class="text-corps">
              <p>Tout dépend de votre secteur mais privilégiez les mails cours avec un call to action à l'intérieur</p>
              <p>Vous pouvez utiliser <a href="https://mailchimp.com/">Mailchimp</a> ou <a href="https://www.mailjet.com/">Mailjet</a></p>
              <p>L'utilisation de ces services est pareil à savoir, <span class="highlight-yellow">création de listes</span>, <span class="highlight-yellow">modèles de mails</span> et de <span class="highlight-yellow">campagne</span> de mailing</p>
              <p><span class="bold">Les chiffres importants à retenir sont :</span> le <span class="highlight-yellow">taux d'ouvertures</span> et le <span class="highlight-yellow">taux de clics</span></p>
              <p>Sur Mailchimp vous pouvez voir qui a ouvert vos mails et les personnes ont un scoring, du coup vous pouvez retargeter de manière efficace</p>
            </div>
          </div>

          <div class="title-underline">
            <h2>Ressources</h2>
          </div>


          <div class="paragraphe-cours">
            <h3>1 - Prototyper sans code</h3>
            <div class="text-corps">
              <p><span class="underline-green bold">Strikingly</span> : <a href="https://www.strikingly.com/">https://www.strikingly.com/</a> vous avez un plan gratuit qui vous permet de lancer plusieurs landing pages en même temps et de tester vos idées. Vous pouvez aussi configurer cette landing page avec Google Analytics et ainsi visualiser toutes les données de trafic. </p>
              <p><span class="underline-green bold">Kikofflab</span> : <a href="https://kickofflabs.com/ ">https://kickofflabs.com/</a> Vous permet de créer une landing et de générer de la viralité autour de ce site. Vous pouvez intégrer des modules de partages qui font gagner des lots aux personnes qui partagent votre site par exemple, ou alors vous pouvez les faire remonter sur une short list etc … Vous pouvez aussi réaliser des tests A/B </p>
              <p><span class="underline-green bold">Unbounce</span> : <a href="https://unbounce.com/">https://unbounce.com/</a> qui vous permet de créer des landings un peu plus jolies et surtout de faire du commerce. Par contre après un temps d’essai le service devient payant. </p>
              <p><span class="underline-green bold">SquareSpace</span> : <a href="https://www.squarespace.com/">https://www.squarespace.com/</a></p>
              <p><span class="underline-green bold">Adobe Muse</span> : <a href="http://www.adobe.com/fr/products/muse.html">http://www.adobe.com/fr/products/muse.html</a> utile pour ceux qui savent déjà bien utiliser Photoshop</p>
            </div>
          </div>


          <div class="paragraphe-cours">
            <h3>2 - Les Icones</h3>
            <div class="text-corps">
              <p><span class="underline-green bold">The noun project</span> : <a href="https://thenounproject.com/">https://thenounproject.com/</a>vous permet d’avoir des icônes gratuites en noir et blanc </p>
              <p><span class="underline-green bold">Flat Icon</span> : <a href="https://www.flaticon.com/">https://www.flaticon.com/</a> vous permet d’avoir des icônes gratuites en couleur </p>
              <p><span class="underline-green bold">Font Awsome</span> : <a href="http://fontawesome.io/">http://fontawesome.io/</a> vous permet d'inserer facilement des icônes dans le code source de vos pages</p>
            </div>
          </div>


          <div class="paragraphe-cours">
            <h3>3 - Les Images</h3>
            <div class="text-corps">
              <p><span class="underline-green bold">Flickr</span> : <a href="https://www.flickr.com/">https://www.flickr.com/</a> site de partage de photos</p>
              <p><span class="underline-green bold">500px</span> : <a href="https://500px.com/">https://www.flaticon.com/</a> site de partage de photos avec rancking</p>
              <p><span class="underline-green bold">Pinterest</span> : <a href="https://fr.pinterest.com/">https://fr.pinterest.com/</a> pratique pour faire des moodbards avant de vous lancer dans le développement où pour montrer vos idées à une agence de dev</p>
            </div>
          </div>

          <div class="paragraphe-cours">
            <h3>4 - Retouche d'images</h3>
            <div class="text-corps">
              <p><span class="underline-green bold">Sketch</span> : <a href="https://www.sketchapp.com/">https://www.sketchapp.com/</a></p>
              <p><span class="underline-green bold">Gimp</span> : <a href="https://www.gimp.org/">https://www.flaticon.com/</a></p>
              <p><span class="underline-green bold">Photoshop</span> : <a href="http://www.adobe.com/fr/creativecloud.html ">http://www.adobe.com/fr/creativecloud.html </a> pensez aux fichiers amtlib ;) </p>
            </div>
          </div>



          <div class="paragraphe-cours">
            <h3>5 - inspirations</h3>
            <div class="text-corps">
              <p><span class="underline-green bold">AWWWARDS</span> : <a href="https://www.awwwards.com/">https://www.awwwards.com/</a> contest de developpeurs web front-end</p>
              <p><span class="underline-green bold">Betalist</span> : <a href="https://betalist.com/">https://betalist.com/</a></p>
              <p><span class="underline-green bold">Dribbble</span> : <a href="https://dribbble.com/">https://dribbble.com/</a></p>

            </div>
          </div>


          <div class="paragraphe-cours">
            <h3>6 - Pour le Mobile</h3>
            <div class="text-corps">
              <p><span class="underline-green bold">Pttrns</span> : <a href="https://pttrns.com">https://pttrns.com</a></p>
              <p><span class="underline-green bold">Marvelapp</span> : <a href="https://marvelapp.com/">https://marvelapp.com</a></p>
            </div>
          </div>

          <div class="paragraphe-cours">
            <h3>7 - Mailing</h3>
            <div class="text-corps">
              <p><span class="underline-green bold">Mailchimp</span> : <a href="https://mailchimp.com/">https://mailchimp.com/</a></p>
              <p><span class="underline-green bold">Mailjet</span> : <a href="https://www.mailjet.com/">https://www.mailjet.com/</a></p>
            </div>
          </div>


          <div class="title-underline">
            <h2>TP</h2>
          </div>

          <div class="paragraphe-cours">
            <h3>1 - Présentation de vos Landing pages</h3>
            <div class="text-corps">
            </div>
          </div>


          <div class="paragraphe-cours-inverse">
            <h3>Mise en pratique</h3>
            <div class="text-corps-inverse">
              <p>1 - Pour ceux qui veulent on peut traviller en groupe sur vos landing pages</p>
            </div>
          </div>


          <div class="paragraphe-cours">
            <h3>2 - Definir un test et créer une landing</h3>
            <div class="text-corps">
            </div>
          </div>

          <div class="paragraphe-cours-inverse">
            <h3>Mise en pratique</h3>
            <div class="text-corps-inverse">
              <p><span class="bold">1 - Définir une cible </span>: normalement vous avez déja une idée de problème client à résoudre une cible bien précise. Essayer au mieux de definir cette cible</p>
              <p><span class="bold">2 - Définir un test </span>: suivant le stade de votre projet vous devez définir un test, par exemple : tester votre value proposition, tester votre produit, tester votre pricing sur la cible définie préalablement.</p>
              <p><span class="bold">3 - Créer votre landing</span> : ici on utilisera <a href="https://www.strikingly.com/">Strikingly</a> mais vous pouvez utiliser le module que vous voulez</p>
<!--           <p><span>.Cible 1 :</span> Cyclosportifs et/ou pratiquant de Cyclo Cross</p>
          <p><span>.Cible 2 :</span> Organisateurs de Cyclosportives</p>
          <p><span>.Cible 3 :</span> Vélocites</p>
          <p><span>.Test :</span> On va tester notre value proposition pour chaqu'une des trois cibles, on va donc créer trois landings pages. On utilisera ici <a href="https://www.strikingly.com/">Strikingly</a> & <a href="https://kickofflabs.com/ ">KickOffLab</a></p>
          <p>Landing page pour les <a href="https://challenge-assurances-velo-2018-cyclosportifs-2.kickoffpages.com/">cible 1 - cyclosportifs</a>  sur KickOffLab </p>
          <p>Landing page pour les <a href="http://challengecyclosportives.strikingly.com/">cible 2 - organisateurs</a> sur Strinkingly </p>
          <p>Landing page pour les <a href="http://challengeassurancevelovelocistes.strikingly.com/">cible 3 - vélocistes</a> sur Strinkingly  </p>
        -->        </div>
      </div>

      <div class="paragraphe-cours">
        <h3>3 - Lancer votre landing</h3>
        <div class="text-corps">
        </div>
      </div>

      <div class="paragraphe-cours-inverse">
        <h3>Mise en pratique</h3>
        <div class="text-corps-inverse">
          <p><span class="bold">1 - Défnir un canal d'acquisition </span>: vous pouvez choisir d'utiliser Facebook Ads, google adwords, ou des base mail. Ici à titre
          d'exemple nous nous concentrerons sur Facebook Ads et base mail. (nous ferons une présentation plus en détails des différents canaux d'acquisition lors d'un prochain cours)</p>
          <p><span class="bold">2 - Facebook Ads </span> : Il faut au préalable que vous créez une page Facebook, ensuite vous devez aller sur l'interface du <a href="https://www.facebook.com/ads/manager/account/campaigns/">gestionnaire de publicité Facebook</a></p>
          <p><span class="bold">3 - Base Mail </span> : scraper des mails sur un site, vous pouvez utiliser <a href="https://chrome.google.com/webstore/detail/web-scraper/jnhgnonknehpejjnehehllkliplmbmhn">Webscraper</a>, puis aller dans <a href="https://mailchimp.com/">MailChimp</a> configurer une campagne</p>
<!--           <p>Canal d'acquisition pour la cible Cyclosportifs : <a href="https://www.facebook.com/ads/manager/account/campaigns/">Facebook Ads</a></p>
          <p>Canal d'acquisition pour les cibles Cyclosportifs : Base Mail récupérée à l'aide de <a href="https://chrome.google.com/webstore/detail/web-scraper/jnhgnonknehpejjnehehllkliplmbmhn">Webscraper</a> & lancement d'une campagne mail avec <a href="https://mailchimp.com/">Mailchimp</a></p>
          <p><span class="bold">Récupération des Emails</span></p>
          <p>1 - Aller sur Velo 101, catégorie <a href="http://www.velo101.com/cyclosport/calendrier">cyclosport</a></p>
          <p>2 - Definir la root, ici je prends <a href="http://www.velo101.com/cyclosport/calendrier/mois:1/annee:2017">http://www.velo101.com/cyclosport/calendrier/mois:1/annee:2017</a></p>
          <p>3 - Ensuite je crée deux selecteurs, <span class="bold">mois</span> et <span class="bold">mail</span> pour avoir la Site Map suivante : </p>
          <img src="<%= image_path "prototyping-1-webscraper-1.jpg" %>" alt="" style="height:50px; padding-bottom: 1em;">
          <p>4 - Il vous reste juste ensuite à éxécuter la routine avec Webscraper</p>
          <p>Si vous souhaitez scrapper des choses plus complexes vous pourrez retrouver tous les tutos de formation à WebScraper <a href="http://webscraper.io/tutorials">ici</a></p>
          <p>Si vous souhaitez extraire des mails d'un fichier text rapidement vous pouvez utiliser <a href="http://emailx.discoveryvip.com/">cet extracteur</a> c'est très utile, surtout si par exemple vous récuperez des emails directement d'un résultat de recherche Google</p>
          <p><span class="bold">Envoi d'un mail via Mailchimp</span></p>
          <p>1 - Créer un compte Mailchimp</p>
          <p>2 - Créer une liste à laquelle vous allez envoyer un Email, MailChhimp va automatiquement nettoyer la liste si les emails sont mal orthographiés.
            <br><br>
            Attention MailChimp ne va pas au préalable vous supprimer les emails qui vont bouncer, je vous recommande vivement d'analyser vos listes de mails scrapper avant de faire un mailing de masse avec votre nom de domaine. Si vous avez trop de bounce vous allez être identifié comme du spam et ça dégrade votre SEO. Utilisez donc <a href="https://neverbounce.com/">Neverbouce</a> avant d'envoyer vos mails ;)</p>
          <img src="<%= image_path "prototyping-1-neverbounce.jpg" %>" alt="" style="height:120px; padding-bottom: 1em;">
          <p>3 - Faites votre mailing et attendez vos métriques <img src="https://cdn.jsdelivr.net/emojione/assets/3.0/png/128/1f379.png" alt="" style="height:20px;"></p>
        -->        </div>
      </div>

      <div class="paragraphe-cours">
        <h3>4 - Analyser vos métrics</h3>
        <div class="text-corps">
        </div>
      </div>


      <div class="paragraphe-cours-inverse">
        <h3>Mise en pratique</h3>
        <div class="text-corps-inverse">
          <p>1 - Analysez votre taux d'activation, tant que votre taux d'activation est inférieur à 30% vous continuez à itérer </p>
        </div>
      </div>

      <div class="paragraphe-cours">
        <h3>5 - Récuperer du feed back utilisateur</h3>
        <div class="text-corps">
        </div>
      </div>

      <div class="paragraphe-cours-inverse">
        <h3>Mise en pratique</h3>
        <div class="text-corps-inverse">
          <p>1 - Récuperez du retour utilisateur au maximum, modifiez votre hypothèse , et itérez, itérez, itérez, itérez, itérez !</p>
        </div>
      </div>



      <div class="title-underline">
        <h2>Ressources</h2>
      </div>

      <div class="paragraphe-cours">
        <h3>1 - Growth Hacker Marketing</h3>
        <div class="text-corps">
          <p>Livre vous donnant une methodologie de Growth Hacking</p>
          <a href="https://www.amazon.fr/Growth-Hacker-Marketing-Primer-Advertising/dp/1591847389/ref=pd_sim_14_2?_encoding=UTF8&psc=1&refRID=A9XYYYD23SS3SX50VDYC"><img src="<%= image_path "prototyping-2-23.jpg" %>" alt="" style="width:200px"></a>
        </div>
      </div>

      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>



    </div>
  </div>
</div>








