<div class="cours-header d-flex align-items-center justify-content-center" style="background-image: linear-gradient(180deg, rgba(0,0,0,1) 10%, rgba(0,0,0,0.5) 50%), url('<%= image_path "image_cours6.jpg" %>');">
  <h1>Retargeting & Rétention</h1>
</div>

<div class="container cours-page">
  <div class="row">
    <div class="col-sm-10 mx-auto">
      <div class="title-underline-blue">
        <h2>Cours Rétention</h2>
      </div>



      <div class="paragraphe-cours">
        <h3>1 - Pourquoi la rétention est si importante ?</h3>
        <div class="text-corps">
          <p>La rétention c'est ce qui va créer de la valeur à votre business. C'est à dire que plus vos utilisateurs
           vont revenir sur votre service ou acheter des produits de manière reccurente sur votre site, plus votre boite
         va gagner de la valeur. C'est ce que l'on appelle le repeat business et c'est ce qui intéresse les investisseurs 😉</p>
       </div>
     </div>

     <div class="paragraphe-cours">
      <h3>2 - Demonstrations</h3>
      <div class="text-corps">
        <p>Imaginons que vous gagnez 1000 clients de manière systèmatique chaque mois et que ces clients restent à vie. Vous allez donc avoir une courbe de croissance de ce type :</p>
        <img src="<%= image_path 'retention-1.jpg' %>" alt="">
        <p>Si maintenant vous avez 1000 visiteurs tous les mois mais un churn rate de 20% alors vous avez plutôt une courbe de ce type : </p>
        <img src="<%= image_path 'retention-2.jpg' %>" alt="">
        <p>Mêm chose que précédement avec un churn rate de 50%</p>
        <img src="<%= image_path 'retention-3.jpg' %>" alt="">
        <p>Plus le churn rate est important plus la saturation arrive vite et votre plafond de verre est bas.</p>
        <p>Supposons maintenant que vous arrivez à avoir une vialité autour de votre produitn par exemple 40% de viralité et 20% de churn rate : </p>
        <img src="<%= image_path 'retention-4.jpg' %>" alt="">
        <p>C'est pour cela qu'il ne faut pas faire trop de pub avant d'avoir une bonne rétention.</p>
      </div>
    </div>

    <div class="paragraphe-cours">
      <h3>3 - L'impact du Churn</h3>
      <div class="text-corps">
        <p>Attention, changer de quelque pourcents votre Churn peut changer votre business du tout au tout</p>
        <img src="<%= image_path 'retention-5.jpg' %>" alt="">
      </div>
    </div>


    <div class="paragraphe-cours">
      <h3>4 - La rétention est différente suivant les business</h3>

      <div class="text-corps">
        <p><span class="bold">E-commerce</span></p>
        <ul>
          <li> inf 15% acquisition mode (most)</li>
          <li> 15-3°% hybrid mode (Zappos)</li>
          <li> > 30% loyalty mode (Amazon) </li>
        </ul>
      </div>

      <div class="text-corps">
        <p><span class="bold">SAAS</span></p>
        <ul>
          <li> sup 90% (bon SAAS) </li>
        </ul>
      </div>
    </div>


    <div class="paragraphe-cours">
      <h3>5 - Le modèle de Hooked</h3>
      <div class="text-corps">

        <img src="<%= image_path 'retention-7.jpg' %>" alt="" style="height:500px;">

        <p><span class="bold underline-blue">Le Trigger Externe :</span> Très simple, c'est faire une démarche vers l'utilisateur pour lui dire que l'on existe toujours. Il existe 4 types de triggers</p>
        <ul>
          <li>
            <p><span class="bold">trigger payé :</span> tous ce qui est ralatif à l'acquisition payante</p>
          </li>
          <li>
            <p><span class="bold">trigger gagnés :</span> la presse, les post de blogs à votre propos, tout ce qui va vous mettre en avant sur votre marché.</p>
          </li>
          <li>
            <p><span class="bold">trigger de relation :</span> le bouche à oreille, tous ce qui va touché au côté viral de votre produit</p>
          </li>
          <li>
            <p><span class="bold">trigger propriétaire :</span> tout ce qui va toucher à une démarche de l'utilisateur pour recevoir des signes de votre part, par exemple notification ou newsletter</p>
          </li>
        </ul>
      </div>

      <p><span class="bold underline-blue">Le Trigger Interne :</span> c'est un peu le graal, dans la mesure où l'utilisateur pense de lui même à votre produit ou service.
        Si on prend le cas de Facebook, Facebook n'as pas besoin de svous relancer pour que vous vous connectiez à son site.
        C'est très dur d'en arriver là et ça demande beaucoup de travail. <br> <br> Souvent, les stimulus internes les plus puissants sont les émotions négatives.
        Tout sentiment d’ennui, de solitude, de frustration, de confusion et d’indécision provoquent souvent une légère démangeaison qui pousse à une action presque
      instantanée pour calmer la sensation négative.</p>

      <p><span class="bold underline-blue">Action :</span> Après l'utilisation d'un trigger, prenons l'exemple d'un newsletter, vous devez
        declencher une action chez la personnes. En effet si vous la contactez c'est que vous attendez quelque chose d'elle (installation d'un deature, achat d'un produit etc...).
      N'oublez pas vous devez être toujours dans une logique de vente.</p>

      <p><span class="bold underline-blue">Reward :</span> Une fois que la personne a fait votre action vous lui donnez une recompences, on peut decliner les recompense en 3 catégories : </p>
      <ul>
        <li>
          <p><span class="bold">Tribe :</span> la récompense sociale. Vous aller donner à la personne une récompense sociale, par exemple les likes (Facebook), les personnes ayant vues votre profil (Linkedin), les nouvouvelles personnes qui vous suivent (Instagram, Twitter).</p>
        </li>
        <li>
          <p><span class="bold">Hunt :</span> tout ce qui va suciter l'intéret des utilisateur. Par exemple les post qui font les Buzz, "Regardez cette vidéo vous n'en croirez pas vos yeux"</p>
        </li>
        <li>
          <p><span class="bold">Recommandation :</span> on vous dit que vous êtes fort (tous ce qui va avoir un rapport de compétition avec les autres). Ou alors gagner des niveaux dans un jeu vidéo.
          C'est pour cela que la gamification peut petre utile pour engager plus bos users dans votre service</p>
          <img src="<%= image_path 'retention-8.jpg' %>" alt="" style="height:500px;">
        </ul>

        <p><span class="bold underline-blue">Investement :</span> Pour finir on demande à l'utilisateur de faire un effort pour obtenir quelquechose de lui. Un achat par exemple.</p>
      </div>


      <div class="paragraphe-cours">
        <h3>6 - Quelques exemples</h3>

        <div class="text-corps">
          <ul>
            <li>
              <p>External trigger</p>
              <ul>
                <li>Email quotidien</li>
                <li>Notifications</li>
                <li>Tweets</li>
              </ul>
            </li>
            <br>
            <li>
              <p>Action</p>
              <ul>
                <li>Call to action</li>
                <li>Lien annexes</li>
              </ul>
            </li>
            <br>
            <li>
              <p>Reward</p>
              <ul>
                <li>Upvote</li>
                <li>Vous avez 10 amis en plus</li>
                <li>Bidule commence vous suivre (intagram) ou a vu votre profil (linkedin)</li>
                <li>Vous avez un code promo une réduction </li>
              </ul>
            </li>
            <br>
            <li>
              <p>Investment</p>
              <ul>
                <li>Voir plus de choses sur le site</li>
                <li>Uploader</li>
                <li>Installer une feature</li>
                <li>Suivre d’autres personnes</li>
                <li>Faire un achat</li>
                <li>Mettre un produit au panier</li>
              </ul>
            </li>
          </ul>
          <p><span class="bold">Attention : </span>vous êtes une petite start up dans le cas d’un retargeting n’hésitez pas à remettre qui vous êtes dans vos mail etc … </p>
        </div>
      </div>


      <div class="paragraphe-cours">
        <h3>7 - En pratique : les Hacks Sympas !</h3>
        <div class="text-corps">
          <ul>
            <li>
              <p><span class="bold">1 - </span><span class="underline-blue bold">Bien qualifier votre audience :</span> (définir un profil type d’audience sur laquelle vous allez faire votre campagne marketing, ou retargeting, ou routine de rétention)</p>
            </li>
            <li>
              <p><span class="bold">2 - </span><span class="underline-blue bold">Ranker vos users :</span>Essayer d’avoir en permanence une vision clair de comment sont segmenter les utilisateurs entre utilisateurs actifs et non actifs.
                Exploiter au maximum les clients actifs et essayer de comprendre pourquoi les inactifs sont inactifs et essayer dans la mesure du possible de les réactivé.
              Pour définir si un utilisateur est actif, attribué un nombre de points pour chaque action faites sur votre service (ex: 1 point pour une visite , 10 points pour une connexion etc … ) et définir un seul à partir du quel vous établissez que l’utilisateur est actifs exemple 30pts/jours.</p>
            </li>
            <li>
              <p><span class="bold">3 - </span><span class="underline-blue bold">Comprendre les attentes des clients :</span>Bien comprendre ce que les utilisateurs vient chercher sur votre service. N’hésitez pas à poser beaucoup de questions à vos clients.</p>
            </li>
            <li>
              <p><span class="bold">4 - </span><span class="underline-blue bold">Vous rendre indispensable :</span> Pensez aux clients ou boss de vos utilisateurs. Par exemple, dans le cas d’une boite de paiement le permettre d’avoir des rapports simples sur les transfert de fonds (exemple slimpay).</p>
            </li>
            <li>
              <p><span class="bold">5 - </span><span class="underline-blue bold">La force du nombre :</span>Quand vous avez pleins d’utilisateurs, négocier des offres de services avec des entreprises qui ont les mêmes clients que vous. Permet de faire de l’acquisition mais en plus de la rétention. </p>
            </li>
            <li>
              <p><span class="bold">6 - </span><span class="underline-blue bold">VIP event :</span> n’hésitez pas à faire des évènements pour les meilleurs clients.</p>
            </li>
            <li>
              <p><span class="bold">7 - </span><span class="underline-blue bold">Le live chat :</span> Très utile tout le temps. Vous pouvez avoir vos client dès qu’ils ont une difficulté et évite de les perdre définitivement.</p>
            </li>
            <li>
              <p><span class="bold">8 - </span><span class="underline-blue bold">Présenter votre numéro de téléphone :</span> c’est humain et vous êtes disponible. En plus vous aller pouvoir échanger beaucoup plus que par chat
              par exemple avec vos utilisateurs. Vous allez pas vous faire harcelé. Si vos utilisateurs vous appellent il y a de grandes chances qu’ils soient intéressés.</p>
            </li>
            <li>
              <p><span class="bold">9 - </span><span class="underline-blue bold">La heatmap :</span> Taquer là où les utilisateurs regardent ou cliquent. VWO peut vous faire ça. C’est plus dans des phases d’optimisation. </p>
            </li>
            <li>
              <p><span class="bold">10 - </span><span class="underline-blue bold">Entrance Surveys :</span> Losqu’un utilisateur s’inscrit sur votre site, c’est le bon moment pour lui demander qu’est ce qu’il vient chercher sur le site. Lui envoyer un mail pour lui demander ce qu’il cherche au lien simplement d’un mail de bienvenu. </p>
            </li>
            <li>
              <p><span class="bold">11 - </span><span class="underline-blue bold">Education focus email series :</span> au moment de l’inscription lui faire une série d’email d’éducation, pendant 5 jours par exemple vous pouvez lui envoyer des email qui lui présente le service.</p>
            </li>
            <li>
              <p><span class="bold">12 - </span> <span class="underline-blue bold">1-2-3 Onboarding Email :</span> faire faire trois actions à l’utilisateur pour se sentir impliqué dans le service ( upload photo de profil, upload backgroud, compléter sa bio)</p>
            </li>
            <li>
              <p><span class="bold">13 - </span><span class="underline-blue bold">Inactive User Email :</span> engager la conversation en envoyant des mails automatisés. Dans le cas de site e-commerce c’est le fournir un coupon de réduction.</p>
            </li>
            <li>
              <p><span class="bold">14 - </span><span class="underline-blue bold">Féter votre relation avec les clients :</span> ça fait 6 mois qu’on est ensemble Youhou !</p>
            </li>
            <li>
              <p><span class="bold">15 - </span><span class="underline-blue bold">Profiter du calendrier :</span> soldes, vacances etc … Il faut essayer au maximum d’être en adéquation avec votre audience.</p>
            </li>
            <li>
              <p><span class="bold">16 - </span><span class="underline-blue bold">La lettre à la main :</span> au top ! ça donne une touche humaine.  </p>
            </li>
            <li>
              <p><span class="bold">17 - </span><span class="underline-blue bold">Les Influenceurs :</span>Envoyer des cadeaux aux Influenceurs.</p>
            </li>
            <li>
              <p><span class="bold">18 - </span><span class="underline-blue bold">L’email du CEO  :</span> ça fait toujour plaisir !</p>
            </li>
            <li>
              <p><span class="bold">19 - </span><span class="underline-blue bold">Rester à l’esprit des utilisateurs :</span> essaye de faire en sorte de récupérer leur email, suivre le twitter, suivre le Facebook, Youyube, Slideshare, Quora etc … trouver le meilleur canal pour vous. </p>
            </li>
            <li>
              <p><span class="bold">20 - </span><span class="underline-blue bold">Se montrer comme un expert du secteur :</span> solution en B to B efficace. Exemple kissmetric, optimizely, unbonce. C’est quand même un travail de très long terme qui paye et qui améliore votre SEO</p>
            </li>
            <li>
              <p><span class="bold">21 - </span><span class="underline-blue bold">Compiler des articles sur le web :</span>Faire une compilation des meilleurs articles sur un sujet qui intéresse vos users (ça évite de les faire soi même)</p>
            </li>
            <li>
              <p><span class="bold">22 - </span><span class="underline-blue bold">Compiler vos posts :</span> Compiler vos poste les plus intéressant </p>
            </li>
            <li>
              <p><span class="bold">23 - </span><span class="underline-blue bold">La barre de progression : </span> volonté de rendre les choses complètes chez les gens .  Plus on avance dans la progression plus c’est difficile de complété, un peu comme dans les jeux vidéos quand on gagne des niveaux. </p>
            </li>
            <li>
              <p><span class="bold">24 - </span><span class="underline-blue bold">La Gamification :</span> rendre l’utilisation de votre service sous forme de jeu pour augmenter l’engagement. Certaines boites peuvent vous aider à faire ça comme <a href="https://badgeville.com/">Badge Ville</a></p>
            </li>
            <li>
              <p><span class="bold">25 - </span><span class="underline-blue bold">Etre présent dans un Ecosystème :</span> exemple de Stripe qui met dans la poche ses développer grâce à leur documentation. Une fois que le système est en place il y a un bon bouche à oreille. </p>
            </li>
            <li>
              <p><span class="bold">26 - </span><span class="underline-blue bold">Give back hack (Pay it forward) :</span> faire des opérations positive pour l’écosystème ou la société et pas forcement avec la publicité.</p>
            </li>
            <li>
              <p><span class="bold">27 - </span><span class="underline-blue bold">Attention aux cartes de crédit :</span> Les cartes de crédit périmes sous 36 mois donc si vous avez de l’abonnement tu CB. Essayer d’envoyer l’info à vos client avant la péremption. Vous pouvez essayer de travailler avec les RIB des utilisateurs. </p>
            </li>
            <li>
              <p><span class="bold">28 - </span><span class="underline-blue bold">The Exiting Pop up :</span> avant qu’une personne quitte le site lui afficher une pop up pour lui demander si elle est sure de quitter le site ou non avec un petit plus, on lui raffiche la proposition de valeur un discourt ou un truc comme ça. </p>
            </li>
            <li>
              <p><span class="bold">29 - </span><span class="underline-blue bold">La FAQ :</span> permet de répondre au questions des utilisateurs et amèliore le SEO</p>
            </li>
            <li>
              <p><span class="bold">30 - </span><span class="underline-blue bold">Cancellation Flow :</span> vous avez des clients et ils veulent partir. Au lieu d’annuler votre service vous pouvez lui proposer de le suspendre. Si il veut vraiment annuler vous pouvez essayer de lui personnaliser une offre, reduction, passer à l’offre prémium etc …</p>
            </li>
          </ul>
        </div>
      </div>



      <div class="title-underline-blue">
        <h2>Cours Retargeting</h2>
      </div>





      <div class="title-underline-blue">
        <h2>Ressources</h2>
      </div>
      <div class="paragraphe-cours">
        <h3>1 - Hooked</h3>

        <div class="text-corps">
          <p><a href="https://fr.slideshare.net/nireyal/hooked-model">Slide Share </a> de Nir Eyal sur le modele Hooked</p>
          <a href="https://www.amazon.fr/Hooked-How-Build-Habit-Forming-Products/dp/0241184835/ref=sr_1_1?ie=UTF8&qid=1515260222&sr=8-1&keywords=hooked"><img src="<%= image_path 'retention-6.jpg' %>" alt=""></a>
          <p><a href="https://medium.com/essentiels/hooked-comment-cr%C3%A9er-un-produit-addictif-adb17495c6de">Un bon résumé sur Medium</a> du modele Hooked</p>
        </div>
      </div>

      <div class="paragraphe-cours">
        <h3>2 - Guide to Galaxy</h3>
        <div class="text-corps">
          <p>Livre vous donnant des conseils de Growth Hacking pour le lancement de votre Start-Up</p>
          <a href="http://growthhackerguide.com/"><img src="<%= image_path "prototyping-2-20.jpg" %>" alt="" style="width:200px"></a>
        </div>
      </div>


      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>


    </div>
  </div>
</div>
