<div class="cours-header d-flex align-items-center justify-content-center" style="background-image: linear-gradient(180deg, rgba(0,0,0,1) 10%, rgba(0,0,0,0.5) 50%), url('<%= image_path "image_cours2.jpg" %>');">
  <h1>Statistiques</h1>
</div>



<div class="container cours-page">
  <div class="row">
    <div class="col-sm-10 mx-auto">
      <div class="title-underline-purple">
        <h2>Cours</h2>
      </div>

      <div class="paragraphe-cours">
        <h3>1 - Définir vos KPI </h3>
        <div class="text-corps">
          <p>Comme on a pu le voir dans la présentation du diagramme AARRR il faut <span class="highlight-yellow">se fixer un KPI par step</span> puis on essaie de l’améliorer, à chaque fois on prend le KPI le plus en aval possible </p>
        </div>
      </div>

      <div class="paragraphe-cours">
        <h3>2 - Formuler une hypothèse  </h3>
        <div class="text-corps">
          <ul>
            <li>
              <p>Ma campagne de marketing est elle pertinente ?</p>
            </li>
            <li>
              <p>Les changements fait sur mon App sont-ils bons ? </p>
            </li>
            <li>
              <p>Dois-je changer de princing ?</p>
            </li>
            <li>
              <p>Dois-je faire payer les frais d’expédition ?</p>
            </li>
            <li>
              <p>La modification du design de mon site a t'il un impact sur les ventes ?</p>
            </li>
            <li>
              <p>Quel libellé du bouton de paiement est il le meilleur ?</p>
            </li>
          </ul>
        </div>
      </div>

      <div class="paragraphe-cours">
        <h3>3 - Definir le test  </h3>
        <div class="text-corps">
          <p>Quelle est votre audience cible ?
            <br> Que voulez-vous qu’ils fassent ?
            <br> Pourquoi devraient ils le faire ?
            <br> <br> Chercher à savoir <span class="highlight-yellow">QUI fera QUOI et POURQUOI</span>, suffisamment pour améliorer le KPI ciblé.
            <br> <br> <span class="bold">Par exemple :</span> Les cyclistes vont faire un devis pour recevoir des informations complémentaires
            sur le produit d'assurance </p>
        </div>
      </div>

      <div class="paragraphe-cours">
        <h3>4 - Mesurer </h3>
        <div class="text-corps">
          <p>Mesurer les résultats du test pour définir si c’est un succès ou pas. Ensuite itérer pour continuer à améliorer. </p>
        </div>
      </div>


      <div class="paragraphe-cours">
        <h3>5 - Comment savoir si un test est un succès ou non ?</h3>
        <div class="text-corps">
          <p> Utiliser ce petit module de calcul : <a href="www.evanmiller.org/ab-testing/chi-squared.html" target="_blank">www.evanmiller.org/ab-testing/chi-squared.html</a></p>
        </div>
      </div>



      <div class="title-underline-purple">
        <h2>Exemples</h2>
      </div>

      <div class="paragraphe-cours">
        <h3>Exemple 1</h3>
        <div class="text-corps">
          <p> faisons un A/B test sur 200 personnes, 100 personnes vont voir la version A et les 100 autres la versions B. La version A convertie à 14%, la version B à 20%
          <img src="<%= image_path "stat-1.jpg" %>" alt="" style="width:100%; height:100%;">
          <br><br><span class="highlight-yellow">D’un point de vue statistique il est impossible de distinguer les deux versions pour savoir quelle est la meilleure</span>.
          <br><br>Dans ce cas précis on a 95% (de confiance statistique) de chance que la réalité soit dans les fourchettes suivantes :
          <br><br> 8,5% - 22,1% et 13,3% - 28,9%</p>
        </div>
      </div>

      <div class="paragraphe-cours">
        <h3>Exemple 2</h3>
        <div class="text-corps">
          <p>
            On refait la même expérience avec 1000 personnes par test
            <img src="<%= image_path "stat-2.jpg" %>" alt="" style="width:100%; height:100%;">
            <br><br><span class="highlight-yellow">Dans ce cas là la version 2 est meilleure car on a un échantillon assez grand</span>.
            <br><br>Dans ce cas précis on a 95% (de confiance statistique) de chance que la réalité soit dans les fourchettes suivantes :
            <br><br>12% - 16,3% et 17,6% - 22,6%
          </p>
        </div>
      </div>

      <div class="paragraphe-cours">
        <h3>Exemple 3</h3>
        <div class="text-corps">
        <p>
          Faisons un A/B test sur 1100 personnes, 1000 personnes vont voir la version A et les 100 autres la versions B.
          <br><br>La version A convertie à 14%, la version B à 20%
          <img src="<%= image_path "stat-3.jpg" %>" alt="" style="width:100%; height:100%;">
          <br><br><span class="highlight-yellow">D’un point de vue statistique il est impossible de distinguer les deux versions pour savoir quelle est la meilleure</span>.
          <br><br>Dans ce cas précis on a 95% (de confiance statistique) de chance que la réalité soit dans les fourchettes suivantes :
          <br><br>12% - 16.3% et 13.3% - 28.9%
        </p>
        </div>
      </div>

      <div class="paragraphe-cours">
        <h3>Exemple 4</h3>
        <div class="text-corps">
        <p>
          Faisons un A/B test sur 1100 personnes, 1000 personnes vont voir la version A et les 100 autres la versions B.
          <br><br><span class="highlight-yellow">La version A convertie à 14%, la version B à 30%</span>
          <img src="<%= image_path "stat-4.jpg" %>" alt="" style="width:100%; height:100%;">
          <br><br>Dans ce cas précis on a 95% (de confiance statistique) de chance que la réalité soit dans les fourchettes suivantes :
          <br><br>12% - 16.3% et 21,9% - 39,6%
        </p>
        </div>
      </div>


      <div class="paragraphe-cours">
        <h3>Conclusion</h3>
        <div class="text-corps">
        <p><span class="highlight-yellow">Plus vos échantillons sont petits plus les résultats devront être très éloignés pour pouvoir
        dire si l'on a un résultat significatif</span>.
        Le travail est donc de faire des changements radicaux afin de faire varier significativement nos résultats.</p>
        </div>
      </div>

      <div class="paragraphe-cours">
        <h3>Exemple 5</h3>
        <div class="text-corps">
        <p>On va regarder à 10% près maintenant si le résultat du test est meilleur ou non. Quel est donc la taille des échantillons à avoir.
        <br><br>Supposons que nous voulons 5% de conversion on doit donc être sur l’intervalle 4.5% - 5.5%
        <img src="<%= image_path "stat-5.jpg" %>" alt="" style="width:100%; height:100%;">
        <br><br> <span class="highlight-yellow">Les mathématiques disent ici qu’il faut 30 244 personnes.</span></p>
        <br>
        <p>Outil en ligne pour calculer cela : <a href="http://www.evanmiller.org/ab-testing/sample-size.html">http://www.evanmiller.org/ab-testing/sample-size.html</a></p>
        </div>
      </div>

      <div class="paragraphe-cours">
        <h3>Exemple 6</h3>
        <div class="text-corps">
        <p><span class="bold">Cas réel (Quelle est la meilleure version ?) :</span></p>
        <img src="<%= image_path "stat-6.jpg" %>" alt="" style="width:100%; height:auto;">
        <p><span class="bold">Résultat :</span></p>
        <img src="<%= image_path "stat-7.jpg" %>" alt="" style="width:100%; height:auto;">
        </div>
      </div>

      <div class="paragraphe-cours">
        <h3>Conclusion</h3>
        <div class="text-corps">
        <p><span class="highlight-yellow">Si on veut mesurer de petites variations il faut beaucoup de monde</span></p>
        </div>
      </div>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
    </div>
  </div>
</div>
