<div id="large-header" class="large-header " style="background-image:url('<%= image_path "image_header2.jpg" %>')">
  <canvas id="demo-canvas"></canvas>
  <div id="home" class="baseline d-flex align-items-center justify-content-center">
    <div class="baseline-text">
      <h1>Welcome !<h1>
      <a class="btn btn-purple-header hvr-float pulse" href="#aarrr"">Accéder aux cours</a>
    </div>
  </div>
</div>







<div id="aarrr" class="banner-wrapper banner-color-purple" style="background-image: linear-gradient(180deg, rgba(0,0,0,1) 10%, rgba(0,0,0,0.5) 50%), url('<%= image_path "image_cours2.jpg" %>');">
  <div class="banner" >
    <h1>AARRR</h1>
    <div class="banner-underline"></div>
    <div class="container banner-wrapper-items">
      <div class="row">
        <div class="col-8 mx-auto">
          <div class="row">
            <div class="col-6">
              <div class="banner-banner" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.5) 50%), url('<%= image_path "image_cours_aarrr.jpg" %>');">
                <div class="banner-banner-content d-flex justify-content-center">
                  <div class="p-2">
                    <h2>Le framework - AARRR</h2>
                    <h3>Cours - 1</h3>
                    <%= link_to "Voir le cours", aarrr_path , 'TRIGGER EVENT', class: "btn btn-cours btn-purple hvr-float", target: "_blank", onclick: "ga('send', 'event', 'button', 'click', 'cours-1-aarrr');"%>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="banner-banner" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.5) 50%), url('<%= image_path "image_cours_statistic.jpg" %>');">
                <div class="banner-banner-content d-flex justify-content-center">
                  <div class="p-2">
                    <h2>Statistiques</h2>
                    <h3>Cours - 3</h3>
                    <%= link_to "Voir le cours", statistiques_path, class: "btn btn-cours btn-purple hvr-float", target: "_blank", onclick: "ga('send', 'event', 'button', 'click', 'cours-3-statistiques');" %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div id="activation" class="banner-wrapper banner-color-green" style="background-image: linear-gradient(180deg, rgba(0,0,0,1) 10%, rgba(0,0,0,0.5) 50%), url('<%= image_path "image_cours4.jpg" %>');">
  <div class="banner" >
    <h1>Activation</h1>
    <div class="banner-underline"></div>
    <div class="container banner-wrapper-items">
      <div class="row">
        <div class="col-8 mx-auto">
          <div class="row">
            <div class="col-6">
              <div class="banner-banner" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.5) 50%), url('<%= image_path "image_cours_prototyping1.jpg" %>');">
                <div class="banner-banner-content d-flex justify-content-center">
                  <div class="p-2">
                    <h2>Prototyping I</h2>
                    <h3>Cours - 2</h3>
                    <%= link_to "Voir le cours", prototyping1_path, class: "btn btn-cours btn-green hvr-float", target: "_blank", onclick: "ga('send', 'event', 'button', 'click', 'cours-2-prototypingI');" %>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="banner-banner" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.5) 50%), url('<%= image_path "image_cours_prototyping2.jpg" %>');">
                <div class="banner-banner-content d-flex justify-content-center">
                  <div class="p-2">
                    <h2>Prototyping II</h2>
                    <h3>Cours - 4</h3>
                    <%= link_to "Voir le cours", prototyping2_path, class: "btn btn-cours btn-green hvr-float", target: "_blank", onclick: "ga('send', 'event', 'button', 'click', 'cours-4-prototypingII');" %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="acquisition" class="banner-wrapper banner-color-red" style="background-image: linear-gradient(180deg, rgba(0,0,0,1) 10%, rgba(0,0,0,0.5) 50%), url('<%= image_path "image_cours5.png" %>');">
  <div class="banner" >
    <h1>Acquisition</h1>
    <div class="banner-underline"></div>
    <div class="container banner-wrapper-items">
      <div class="row">
        <div class="col-12">
          <div class="row">
            <div class="col-4">
              <div class="banner-banner" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.5) 50%), url('<%= image_path "image_cours_ga.jpg" %>');">
                <div class="banner-banner-content d-flex justify-content-center">
                  <div class="p-2">
                    <h2>Google Analytics</h2>
                    <h3>Cours - 6</h3>
                    <%= link_to "Voir le cours", googleanalytics_path, class: "btn btn-cours btn-red hvr-float", target: "_blank", onclick: "ga('send', 'event', 'button', 'click', 'cours-6-googleanalytics');" %>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="banner-banner" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.5) 50%), url('<%= image_path "image_cours_fb.jpg" %>');">
                <div class="banner-banner-content d-flex justify-content-center">
                  <div class="p-2">
                    <h2>Facebook Ads</h2>
                    <h3>Cours - 7</h3>
                    <%= link_to "Voir le cours", facebook_path, class: "btn btn-cours btn-red hvr-float", target: "_blank", onclick: "ga('send', 'event', 'button', 'click', 'cours-7-facebook');" %>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="banner-banner" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.5) 50%), url('<%= image_path "image_cours_adwords.jpg" %>');">
                <div class="banner-banner-content d-flex justify-content-center">
                  <div class="p-2">
                    <h2>Adwords & SEO</h2>
                    <h3>Cours - 8</h3>
                    <%= link_to "Voir le cours", adwords_path, class: "btn btn-cours btn-red hvr-float", target: "_blank", onclick: "ga('send', 'event', 'button', 'click', 'cours-7-adwords');" %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="retention" class="banner-wrapper banner-color-blue" style="background-image: linear-gradient(180deg, rgba(0,0,0,1) 10%, rgba(0,0,0,0.5) 50%), url('<%= image_path "image_cours6.jpg" %>');">
  <div class="banner" >
    <h1>Retention & Referal</h1>
    <div class="banner-underline"></div>
    <div class="container banner-wrapper-items">
      <div class="row">
        <div class="col-4 mx-auto">
          <div class="row">
            <div class="col-12">
              <div class="banner-banner" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.5) 50%), url('<%= image_path "image_cours_retargeting.jpg" %>');">
                <div class="banner-banner-content d-flex justify-content-center">
                  <div class="p-2">
                    <h2>Retargeting</h2>
                    <h3>Cours - 9</h3>
                    <%= link_to "Voir le cours", retargeting_path, class: "btn btn-cours btn-blue hvr-float", target: "_blank", onclick: "ga('send', 'event', 'button', 'click', 'cours-9-retargeting');" %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div id="philosophie" class="banner-wrapper" style="background-image: linear-gradient(180deg, rgba(0,0,0,1) 10%, rgba(0,0,0,0.5) 50%), url('<%= image_path "image_cours3.jpg" %>');">
  <div class="banner" >
    <h1>Philosophie</h1>
    <div class="banner-underline"></div>
    <div class="container banner-wrapper-items">
      <div class="row">
        <div class="col-8 mx-auto">
          <div class="row">
            <div class="col-6">
              <div class="banner-banner" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.5) 50%), url('<%= image_path "image_cours_growth.jpg" %>');">
                <div class="banner-banner-content d-flex justify-content-center">
                  <div class="p-2">
                    <h2>Start-up = Growth</h2>
                    <h3>Cours - 10</h3>
                    <%= link_to "Voir le cours", growth_path, class: "btn btn-cours btn-yellow hvr-float", target: "_blank", onclick: "ga('send', 'event', 'button', 'click', 'cours-10-growth');" %>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="banner-banner" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.5) 50%), url('<%= image_path "image_cours_pmf.jpg" %>');">
                <div class="banner-banner-content d-flex justify-content-center">
                  <div class="p-2">
                    <h2>Product Market Fit</h2>
                    <h3>Cours - 5</h3>
                    <%= link_to "Voir le cours", pmf_path, class: "btn btn-cours btn-yellow hvr-float", target: "_blank", onclick: "ga('send', 'event', 'button', 'click', 'cours-5-pmf');" %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


